[2013-05-15 03:46] chenxiaolong opened #6 "Invalid keyboard layout code"
Right now, the keyboard layout is not being set correctly. For example, choosing the USA keyboard layout results in the `en` code in /etc/vconsole.conf and /etc/X11/xorg.conf.d/00-keyboard.conf, when the code should be `us`.

I'll see if I can write some code to fix this tomorrow. So far, I've found that all the keyboard models, layouts, and variants that Xorg recognizes are listed in /usr/share/X

[2013-05-17 15:50] #6 closed, assigned to nobody

[2013-05-29 20:33] karasu opened #8 "Root partition is always formated by default (and always as ext4)"
In advanced mode, Cnchi always formats root partition, and always does it using ext4

installation_process.py line 162

See http://forum.antergos.com/viewtopic.php?f=5&t=993 for full reference

[2013-05-29 20:36] karasu opened #9 "Fix aria2 downloads (download.py)"
Find out why aria2 freezes after some time downloading files.

[2013-05-29 20:36] karasu opened #10 "Test openbox "desktop" installation"
A first openbox version is done. Must be tested.

[2013-05-29 20:37] karasu opened #11 "Finish the "alongside" installation mode"
Finish and test all the errors in the "alongside" installation mode

[2013-05-29 20:45] karasu opened #12 "In advanced installation mode, the installation of the grub bootloader should be at user's discretion"
In advanced installation mode, the installation of the grub bootloader should be at user's discretion

[2013-05-30 07:58] karasu opened #13 "Add full LVM support in advanced install"
Add full LVM support in advanced install

[2013-05-30 08:11] karasu opened #14 "Add RAID support"
Add RAID support

[2013-05-30 08:12] karasu opened #15 "Add disk encryption support"
Add disk encryption support (or at least, allow home user dir encryption)

[2013-05-30 08:13] karasu opened #16 "Add boot loader password protection"
Add boot loader password protection

http://www.cyberciti.biz/tips/how-do-i-secure-grub-boot-loader.html

[2013-05-30 08:22] karasu opened #17 "Give the novice user the option to install some basic apps"
Provide options to install:
- Graphical firewall management (ufw)
- CUPS
- ...

[2013-06-05 19:39] karasu opened #18 "When there's a timeout downloading one package, cnchi shows a fatal error"
When there's a timeout downloading one package (more than 10 seconds), cnchi shows a fatal error.

We should modify pac.py to not throw a fatal error exception and retry (at least give the user the option to retry).

[2013-06-05 20:47] karasu opened #19 "When cnchi shows a fatal error hangs up."
When cnchi shows a fatal error hangs up.

[2013-06-08 12:47] #19 closed, assigned to karasu

[2013-06-09 16:09] #12 closed, assigned to nobody

[2013-06-09 16:13] #18 closed, assigned to nobody

[2013-06-10 06:38] karasu opened #20 "Be UEFI friendly"
Give the user the option to install an UEFI capable bootloader.

[2013-06-26 09:57] karasu opened #21 "Grub package has changed names"
Grub package has changed package names. grub-bios, grub-uefi and grub-common no longer exist.

Must update packages.xml and see if everything works fine.

[2013-06-29 01:16] karasu opened #22 "Cnchi window changes its height in some screens"
Cnchi window changes its height in some screens.

I've detected at least these two:

desktop.ui
installation_automatic.ui

I've failed to fix this. I'm not a glade expert at all, but I find this behavior quite disturbing.

[2013-06-30 17:06] #22 closed, assigned to nobody

[2013-06-30 17:59] karasu opened #23 "Openbox postinstallation errors"
Archive:  /install/tmp/master.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of /install/tmp/master.zip or
        /install/tmp/master.zip.zip,

[2013-08-05 18:22] #23 closed, assigned to nobody

[2013-08-05 18:23] #21 closed, assigned to nobody

[2013-08-05 18:23] #10 closed, assigned to nobody

[2013-08-28 19:50] karasu opened #24 "Resume download capable and recover from a failed install"
I run the installer again after it quits, but it always fails at the mount point step. It fails to unmount the device I chose in the preview try. As a result, I have to reboot the LiveCD and restart the installation. Could you check if any improvements can be done?

http://forum.antergos.com/viewtopic.php?f=5&t=1120

[2013-08-31 07:01] #8 closed, assigned to nobody

[2013-08-31 09:38] #24 closed, assigned to nobody

[2013-08-31 13:46] #20 closed, assigned to karasu

[2013-09-12 20:12] #9 closed, assigned to karasu

[2013-09-30 18:38] karasu opened #25 "Ask where to install GRUB in automatic install"
When performing an automatic installation, it installs grub always on the same drive that does the installation.

User should be able to choose where to install GRUB.

[2013-10-01 17:02] karasu opened #27 "No progress shown when copying xz files from cache"
No progress shown when copying xz files from cache when using -c or --cache option

[2013-10-11 19:24] #27 closed, assigned to karasu

[2013-10-11 19:36] karasu opened #28 "Add LVM support in Automatic Install"
Added support for LVM in "automatic" mode.

As every new feature, it needs testing!

[2013-10-12 15:29] karasu opened #29 "Automatic install in sdb makes GRUB in sda to not work"
With an OS installed in sda (with GRUB working fine), if you perform an automatic install on sdb, sda grub doesn't work anymore.

installation_automatic.py

This is related to issue #25

[2013-10-12 15:38] #25 closed, assigned to karasu

[2013-10-14 14:02] #29 closed, assigned to nobody

[2013-10-14 17:30] karasu opened #30 ""Checking and loading packages" reaches 100% twice"
"Checking and loading packages" reaches 100% twice (it gets to 100% the first time and then goes to zero and grows untill 100% a second time).

It's not painful but confusing.

[2013-10-15 06:41] karasu opened #31 "In automatic install, when using LUKS, use a password instead of a key file"
In automatic install, when using LUKS, use a password instead of a key file

[2013-10-15 06:58] karasu opened #32 "Add a global percent bar when installing packages"
This is simply a visual enhancement. Show the user another progress bar that indicates the total progress when installing packages.

[2013-10-16 08:45] karasu opened #34 "If user doesn't want to reboot Cnchi hangs."
When the installation ends successfully, if the user doesn't want to reboot (answers 'no' to the last dialog) Cnchi gets stuck and unresponsive.

[2013-10-17 06:55] karasu opened #35 "The automatic install can't run in a pre LVM installed system"
Faidoc reported:

"I didn't test it since a couple of days, but the problem using the auto LVM script then was the second time, the regular auto partition didn't remove the LVM partitions and in advanced partitioning you could not remove or create a new partition table"

[2013-10-17 06:56] karasu opened #36 "Can't create/delete LVM volumes in advanced partition installation mode"
Can't create/delete LVM volumes in advanced partition installation mode

[2013-10-21 06:45] karasu opened #37 "Extended partitions get added to be formated and mounted when created"
Extended partitions get added to be formated and mounted when created

[2013-10-23 08:23] karasu opened #38 "Desktop screen is "growing" again"
When Cnchi reaches desktop screen, it grows a little bit. This was happening before and Faidoc fixed it, and I think it happens now because Dustin has changed some strings (it's not Dustin's fault, it had to be done).

I think it's not a real problem and we could leave like it is now. I also noticed that it happens in the Xubuntu installer (ubiquity), too.

I'll try to fix it if I have the time, b

[2013-10-23 16:34] #28 closed, assigned to karasu

[2013-10-23 17:01] #37 closed, assigned to nobody

[2013-10-24 01:06] karasu opened #39 "Ask user for a key password when using LUKS in automatic install"
Ask user for a key password when using LUKS in automatic install (if he/she doesn't want to use a password, cnchi will use a key file).

[2013-10-24 01:08] karasu opened #40 "Home user directory encryption using gocryptfs (in all type of installations)"
Home user dir encryption is done through ecryptfs, but needs testing! I'll test in my Virtualbox asap.

See https://github.com/Antergos/Cnchi/commit/2b95556cab6f34299253e27f087949203160b431

[2013-10-24 20:34] karasu opened #41 "In automatic install fstab is not correctly created!"
In automatic install fstab is not correctly created.

This is a regression. Changes done in installation_process.py have made that fstab is not correctly created.

[2013-10-24 20:35] #39 closed, assigned to nobody

[2013-10-24 20:37] #35 closed, assigned to nobody

[2013-10-24 20:38] #15 closed, assigned to nobody

[2013-10-28 07:23] karasu opened #43 ""Try it" option not working in some cases"
A user has reported this:

"There is still a bug in the cnchi.py (or gtk maybe?). When I click the button "Try it" nothing happens. Funny thing: only "Try it" do not working. "Graphical installer" or "CLI" works as expected."

Problem is I can't reproduce in my computer, it works for me.

[2013-10-28 07:25] karasu opened #44 "Always hide the alongside install option"
Always hide the alongside install option, as it is not finished

[2013-10-28 07:31] karasu opened #45 "ufw always opens 192.168.0.0/24, 192.168.1.0/24 and 192.168.2.0/24"
Cnchi should detect/ask which network ufw wants to leave open (or decide to not open any network).

As it is now, it always opens 192.168.0.0/24 whithout asking.

Or maybe Cnchi should leave open 192.168.0.0/24, 192.168.1.0/24 and 192.168.2.0/24 (which are the most used local network addresses).

[2013-10-28 12:33] #43 closed, assigned to nobody

[2013-10-29 16:38] karasu opened #50 "In automatic install, LVM on LUKS does not work"
This is a regresion.

Latest test shows that in automatic install, "LVM on LUKS" does not work: can't find /dev/mapper/cryptAntergos device.

More tests are needed.

[2013-10-29 16:43] #44 closed, assigned to nobody

[2013-10-29 17:11] #50 closed, assigned to karasu

[2013-10-29 20:26] #41 closed, assigned to karasu

[2013-10-29 21:17] #34 closed, assigned to nobody

[2013-10-30 06:13] karasu opened #51 "In automatic install check that both LUKS passwords match"
I'm sorry. I totally forgot about this. In automatic install check that both LUKS passwords match. I'll get some code from user_info.py and put it in installer_automatic.py to check that both passwords match (and warn the user if they not match).

[2013-10-30 06:16] karasu opened #52 "Detect local network in features.py to show the user the correct ufw info"
Use Alex's code in features.py to show the user the correct ufw info (network detection)

[2013-10-30 13:10] #51 closed, assigned to karasu

[2013-10-30 13:11] karasu opened #53 "Hide global progress bar in slides.py"
Hide global progress bar in slides.py, as it makes no sense there.

[2013-10-30 15:04] lots0logs opened #54 "Libreoffice is installed without user's default language"
When user selects libreoffice at install time it is installed with only "libreoffice-af" language package. That package happens to come first in alphabetical order when doing a pacman query.  I am not sure if this is happening with every install but will look into it further after work today.

[2013-10-30 15:24] lots0logs opened #55 "Add AUR support option to the features screen"
Allow user to opt in for AUR related packages to be installed (base-devel group, yaourt, customizepkg, etc) We could add a disclaimer such as:

"The Arch User Repository is a collection of user-submitted PKGBUILDs that supplement software available from the official repositories. The AUR is community driven and NOT supported by Arch or Antergos."

[2013-10-30 17:40] #52 closed, assigned to karasu

[2013-10-30 17:42] karasu opened #56 "Add LUKS encryption to advanced install mode"
Add LUKS encryption to advanced install mode

[2013-10-30 17:49] #45 closed, assigned to nobody

[2013-10-30 17:49] #32 closed, assigned to nobody

[2013-10-30 17:50] #31 closed, assigned to nobody

[2013-10-30 18:05] #17 closed, assigned to nobody

[2013-10-30 20:11] karasu opened #57 "Cnchi does not add swap partitions to fstab"
Cnchi does not add swap partitions to fstab

[2013-10-30 20:29] #53 closed, assigned to nobody

[2013-11-06 14:05] karasu opened #59 "Only copy necessary xz files from cache"
The Cnchi -c <dir> option copies all xz files it founds. It should copy just the necessary xz files from cache (depending on which desktop the user has chosen), not all of them!

EDIT: Now -c it uses the cache directory that the user wants but it doesn't copy the xz files that are in it. You must use -cc to copy all cached files.

EDIT2: Cnchi always tries /var/cache/pacman/pkg just in case...

[2013-11-12 07:48] karasu opened #61 "Remove all unused ubiquity code"
We need to get rid of all unused ubiquity code that Cnchi has.

Some files that need to be merged/removed:

i18n.py, gtkwidgets.py, keyboard_names.py, misc.py, osextras.py, tz.py and validation.py

Problem is that some functions on those files are used, so we should be very careful when removing things.

[2013-11-14 07:17] lots0logs opened #62 "base-devel group is not being installed"
These packages belong only to the base-devel group and aren't being installed.All the other packages in base-devel are also members of base group so they are being installed correctly.:

flex
gcc
libtool
make
patch
pkg-config

[2013-11-16 15:32] ghost opened #63 "Grub2 won't get properly installed when GPT is used in a BIOS system in advanced install"
I quick-tested <strong>antergos-2013.11.10-i686.iso</strong> with the same result using <strong>guid partition table</strong> (gpt) as I have currently with Thus 0.8.7.910.

Followed settings I used in manual mode:

<pre>Model: ATA VBOX HARDDISK (scsi)
Disk /dev/sda: 8590MB
Sector size (logical/physical): 512B/512B
Partition Table: gpt
Disk Flags:

Number  Start   End     Size    File system     N

[2013-11-18 15:47] lots0logs opened #64 "In advanced mode, unable to continue after setting up partition layout"
A user reported this, I havent not yet tested. It seems cnchi tries to unmount a drive that was already unmounted. User reports they are able to go back and select Automatic Install so it does not freeze..it just loops

/tmp/cnchi.log:

2013-11-18 15:24:23,444 - root - INFO - Cnchi installer version 0.4.1
2013-11-18 15:24:38,180 - root - INFO - locale changed to : en_US.UTF-8
2013-11-18 15:24:40,4

[2013-11-19 10:01] karasu opened #65 "Check UEFI setup"
UEFI setups need some love. Test that Cnchi works with UEFI+mbr and UEFI+ GPT

Edit: UEFI/MBR is working, UEFI/GPT is not. Follow new issue here: issue #112

[2013-11-19 11:19] jrboothe opened #66 "Cinchi gets caught in a loop when using some LVM partitioning schemes"
The installer fails when using a fairly basic LVM layout and trying to set mount points for the volumes. The layout I was using is the following

One VG (system) with a single physical partition (/dev/sda1).
Three LVs
/dev/system/root - 15G
/dev/system/swap - 256M
/dev/system/home - All remaining space except 15G kept as free extents for snapshotting

When setting the mount points all goes well un

[2013-11-19 16:57] karasu opened #67 "Can't retry when one package fails to download (timeout) in pac.py"
Cnchi should recover from a timeout when downloading packages. Should give the option to retry downloading. Now "testing" doesn't fail because ignores error messages (that's not the solution, of course) and tries to continue anyway. It should prompt the user a message with an option to retry.

![pacpy_timeout](https://f.cloud.github.com/assets/175797/1574296/864e68d8-513b-11e3-9e63-def54739ff21.pn

[2013-11-19 20:07] karasu opened #68 "Grub installation by Cnchi doesn't respect other OSes already installed"
Grub installation by Cnchi doesn't respect other OSes already installed

[2013-11-20 12:10] karasu opened #69 "LUKS Password is shown"
If the disk encryption option is enabled, you will be required to specify the disk encryption passphrase. That’s to be expected, however, I did not expect that the passphrase being readable as it was being typed.

[2013-11-20 12:11] karasu opened #70 "Installation needs 4GB, Cnchi asks for 3GB"
Though it says that the minimum disk space required for a successful installation is 3 GB, that information is misleading, because a default installation of the desktop using Cinnamon, GNOME 3 or Razor-qt takes up between 3.5 GB to 4.0 GB of disk space.

[2013-11-20 12:13] karasu opened #71 "The "create home partition" in automatic installation needs to be tested against LVM and LUKS"
This is already done, but needs testing: "In either LVM or non-LVM mode, the installer does not create a separate home partition or logical volume, and offers no option to create one in its automated disk partitioning options."

[2013-11-20 15:59] #62 closed, assigned to karasu

[2013-11-20 16:02] karasu opened #72 "KDE desktop installation does not work"
Have you had any time to work on getting
features to install correctly (gtk vs. qt). I merged my kde branch with
your headerbar branch last week and then with testing branch yestrday.
Only problem, as you already know, kde part is not working with feature
selection. It always gets stuck at adding features. It will sit there
forever if you let it which is why I was planning to suggest a timeout
and

[2013-11-20 16:10] #57 closed, assigned to axaxs

[2013-11-20 16:11] #54 closed, assigned to nobody

[2013-11-20 16:13] #70 closed, assigned to nobody

[2013-11-21 06:23] #69 closed, assigned to nobody

[2013-11-21 18:27] #55 closed, assigned to nobody

[2013-11-21 18:28] karasu opened #73 "The features screen is really full as it is now. Any ideas how to redesign it?"
The features screen is really full as it is now. Any ideas how to redesign it?

[2013-11-21 18:38] karasu opened #74 "Features list is not sorted"
Features list is not sorted. In all the other GtkListBoxes all items are sorted but not in the features one.

[2013-11-21 18:52] #74 closed, assigned to karasu

[2013-11-21 22:11] CaF2 opened #75 "Installing keyboard layouts"
- Won't pick/load the keyboard layout after selecting one, (sticks to qwerty).
- Won't install the layout to the console.

Should be solved with adding this line somewhere???:

setxkbmap -layout <X-layout> -variant <X-variant>
↑so i can type my username and password
loadkeys <Console-layout>
↑so i can use with the "live-cd-console"
localectl set-keymap --no-convert <Console-layout>
↑so i can play

[2013-11-22 11:49] #75 closed, assigned to karasu

[2013-11-22 23:52] lots0logs opened #76 "Xfce install missing 24 packages from xfce group which makes LXDM unable start a session."
I discovered this while creating a VM for development/testing. I used the current stable livecd (Cnchi v0.4.1). I have not made another attempt to see if this happens 100% of the time. I'll look into it further.

[2013-11-23 20:34] jgmdev opened #77 "razor-qt installation fails"
The installer fails when installing razor-qt with the following message:

alpm.error: transaction failed, pm_errorno 47 (conflicting files), [('filesystem', '/install/usr/lib64', 'phonon-vlc')]

Here a screenshot of error:
http://i43.tinypic.com/21kctjt.png

[2013-11-23 22:23] jgmdev opened #78 "Openbox target does not install a cli terminal"
After installing openbox using the graphical installer there wasn't any terminal installed by default, lxterminal or xfce-terminal may be a good fit.

[2013-11-26 19:03] #76 closed, assigned to nobody

[2013-11-26 19:32] #78 closed, assigned to nobody

[2013-11-26 19:46] #67 closed, assigned to karasu

[2013-11-26 19:50] #61 closed, assigned to nobody

[2013-11-27 11:27] karasu opened #80 "Show a personalized error when Internet connection fails"
Anyway, we could try to detect the problem right? if the connection fails,
we could check if the user has access to the internet and show a
personalized error telling the user that it is something wrong with his
connection.

[2013-11-27 13:35] karasu opened #81 "Add Arch kernel LTS option"
http://forum.antergos.com/viewtopic.php?f=5&t=1275&start=10

[2013-11-27 21:51] #77 closed, assigned to nobody

[2013-11-28 21:05] karasu opened #82 "Cnchi has an erratical behaviour when installing with this partition setup"
Maybe it's related to issue #68.

User's description:

"But then my friend who is way more knowledgeable on this kind of stuff told my I should put /boot on sda1 and that it was okay to overwrite Window's system reserve saying that it was for installing service packs which you can do manually. So, reluctantly I did that trusting him. Upon seeing something online later, it seems this is the problem

[2013-12-01 00:11] karasu opened #83 "Add a checkbox to show password (in user_info and install_automatic with LUKS)"
Some users are reporting that they installed system does not recognize their password.

To find out what's happening, we could add a checkbox to show password (in user_info and install_automatic with LUKS).

[2013-12-02 21:51] karasu opened #84 "Add a global percent bar when downloading packages"
Add a global percent bar when downloading packages (same as when installing packages).

[2013-12-03 10:34] karasu opened #85 "Hide both progress bars when all packages are installed."
Hide both progress bars when all packages are installed.

[2013-12-03 18:11] #84 closed, assigned to nobody

[2013-12-04 14:53] sysdrum opened #86 "XFce Breaks when installing"
(xfce4) login screen enter username and password and it begins to load and then bounces to  login screen. (xfce4)

Found the system fails to complete the full package install of xfce4.
Once the cli is brought up the package can be pulled down and installed from pacman -S xfce4 (after reviewing (Code = "Cnchi") I cannot find the broken request)
I am not sure how to get to the error logs from the cl

[2013-12-04 15:20] #86 closed, assigned to nobody

[2013-12-04 20:13] #83 closed, assigned to nobody

[2013-12-05 23:14] ghost opened #87 "Avoid extended or grub-gpt-bios partitions been labeled or formatted"
Original Title of this bug: myfmt for extended should never been translated in line 921

I just found a bug using german translation for followed line (https://github.com/Antergos/Cnchi/blob/master/src/installation_advanced.py#L921) :

myfmt = _("extended")

This will fail in creating an extended partition. It should be like this:

myfmt = 'extended'

Se also: http://git.manjaro.org/core/thus/comm

[2013-12-09 07:31] #85 closed, assigned to nobody

[2013-12-09 09:09] lots0logs opened #88 "Process does not quit when cancel is pressed"
When cancel is pressed the window stays open and the python process continues to run. See screenshot:

<a href="http://antergos.info/screenshot.png" alt="screenshot"><img src="http://antergos.info/screenshot.png" alt="screenshot" width="800px" /></a>

[2013-12-09 14:44] #88 closed, assigned to nobody

[2013-12-11 05:00] lots0logs opened #89 "Check on rankmirrors process. Cnchi is selecting servers with poor connection speeds."
---

https://gist.github.com/DaElsta/7905147

Another thing...I don't know if I should start a new issue for that. Is rankmirrors working correctly? As you can see in my log, cnchi chose a really slow server. Download took ages.

---

Users have been reporting this in the forums as well.

[2013-12-14 14:06] ghost opened #90 "Advanced mode crashes with reiserfs partitions"
When I try to install in advanced mode it crashes during partition layout dump when reiserfs partitions are present:

<pre>dumpe2fs 1.42.8 (20-Jun-2013)
debugreiserfs 3.6.24

Traceback (most recent call last):
  File "/usr/share/thus/thus.py", line 319, in on_forward_button_clicked
    self.current_page.prepare('forwards')
  File "/usr/share/thus/src/installation_advanced.py", line 1186, in prepar

[2013-12-16 07:23] #87 closed, assigned to nobody

[2013-12-21 23:23] lots0logs opened #92 "Cnchi stalls while building package list."
It looks like features package selection is broke again :-( If I have time later I will look into it further.

Log: http://antergos.info/cnchi12-21-13.log

Im just noticing that the log is not showing everything I saw in terminal. Of course I dont have it open anymore but there was an error regarding selecting features and this string ----> "openbox_feature" Obviously that is not how we wrote it s

[2013-12-22 05:01] #92 closed, assigned to nobody

[2013-12-28 11:30] ghost opened #94 "Advanced mode crashes with btrfs partitions"
During testing thus I got followed error:

<pre>dumpe2fs 1.42.8 (20-Jun-2013)
Traceback (most recent call last):
  File "/usr/share/thus/thus.py", line 323, in on_forward_button_clicked
    self.current_page.prepare('forwards')
  File "/usr/share/thus/src/installation_advanced.py", line 1195, in prepare
    self.fill_partition_list()
  File "/usr/share/thus/src/installation_advanced.py", line 518,

[2013-12-30 22:35] #94 closed, assigned to nobody

[2014-01-13 09:29] Netherdrake opened #97 "[video] The installer crashes in latest build"
http://www.youtube.com/watch?v=1el9stF2wCE&feature=youtu.be
It happens every time.

[2014-01-13 12:59] karasu opened #98 "No fsck.ext4 found."
New install complains about fsck.ext4 not found. Are we missing a package here?

I'm starting to think that some packages are not being installed.

[2014-01-13 13:02] karasu opened #99 "Grub installation fails miserably in a non UEFI VM."
Grub (i386) does not get correctly installed (tested in a VM).

I have two hard disks. One with an already installed Antergos and on the other one I have made the new installation.

If system starts with the grub that's installed in sda it doesn't see the second installation. If system starts with the second harddisk, no grub is found and system hangs.

If I mount the installed system and setup gr

[2014-01-23 09:41] #90 closed, assigned to nobody

[2014-01-23 11:20] #99 closed, assigned to nobody

[2014-01-23 13:20] #72 closed, assigned to nobody

[2014-01-24 09:35] #97 closed, assigned to nobody

[2014-01-24 09:37] #89 closed, assigned to nobody

[2014-01-27 07:15] #82 closed, assigned to nobody

[2014-01-27 16:12] #64 closed, assigned to karasu

[2014-01-27 16:49] #71 closed, assigned to karasu

[2014-01-28 09:20] #98 closed, assigned to nobody

[2014-01-28 18:09] faidoc opened #111 "[FlySpray] Ask for the keyboard layout before setting up the luks-encryption password"
At he moment the user is asked for the keyboard layout after the installation is started.
This results in a problem for everybody with a non default keyboard layout who choose to use full disk encryption. At his point the user just entered his password with the wrong layout and didn't even noticed it because it's a password field.

It would be much better to ask for the layout after the language s

[2014-01-28 18:13] karasu opened #112 "UEFI/GPT setup is broken"
UEFI/GPT installation needs to be fixed.

[2014-01-28 18:15] #65 closed, assigned to nobody

[2014-02-04 10:02] karasu opened #120 "Test LUKS in an UEFI System (using GPT)"
Users have reported that LUKS and LVM does not work in GPT

[2014-02-04 10:04] #112 closed, assigned to nobody

[2014-02-04 11:16] karasu opened #121 "Test LVM in an UEFI System (using GPT)"
Some users have reported issues when using LVM in an UEFI+GPT system.

[2014-02-04 11:17] karasu opened #122 "Test LVM and LUKS (using both at the same time) in an UEFI System (using GPT)"

[2014-02-04 11:19] #111 closed, assigned to nobody

[2014-02-04 11:20] #63 closed, assigned to nobody

[2014-02-04 11:22] #38 closed, assigned to nobody

[2014-02-07 17:42] maranda opened #123 "Several issues with the Graphical and Non-Graphical installers."
Hi all,

I recently moved away from Ubuntu on my ASUS Ultrabook (S56CM), I must admit I was about to frankly drop out the idea of having an Arch based distribution installed given all the issues I had installing Antergos (laptop requires UEFI & GPT), but I insisted out of stubborness because I needed a rollover distribution for working purpose (I'm a software developer).

I'll share some feedbacks

[2014-02-10 21:38] faidoc opened #124 "Cnchi fails on user creation"
Tested with cnchi 0.5.13 on 9th February 2014 ISO

Output https://gist.github.com/faidoc/8924659#file-gistfile1-txt

[2014-02-11 09:39] #124 closed, assigned to nobody

[2014-02-11 20:22] lots0logs opened #126 "When the progress bar reaches 100%, it does not reset for the next package group."
Also, is there a way we can communicate to the user that we are installing group x of y ? As it is now, how much time left to complete is not clear. Otherwise, the install went smoothly. I didnt notice that it was any slower either :-D

EDIT: Something went wrong with grub install. It shows no theme and says the device does not exist when selecting the boot entry. Will investigate this after work.

[2014-02-12 11:32] karasu opened #127 "Something went wrong with grub install. It shows no theme and says the device does not exist when selecting the boot entry."
What I can confirm is that the theme is no longer shown. Maybe the copytree call is wrongly formed.

[2014-02-12 11:38] karasu opened #128 "Cnchi does not count dependencies when counting all packages that will install"
Cnchi does not count dependencies when counting all packages that will install. See process.py (we could use pm2ml to find them, or maybe something in pac.py will help).

[2014-02-12 11:39] #126 closed, assigned to nobody

[2014-02-13 09:23] karasu opened #129 "Aria2 uses too much memory"
We want to improve aria2 method. This way we can separate (and control better) the download packages part from the install packages part (check download.py)

[2014-02-20 07:28] #128 closed, assigned to karasu

[2014-02-20 07:29] #127 closed, assigned to nobody

[2014-02-23 20:50] karasu opened #131 "Cnchi tries to open chromium as root"
When grub fails, cnchi offers opening wiki url to the user, but it does as root, so chromium does not open.

[2014-02-26 16:06] codesardine opened #132 "this is a question"
i pull cnchi a few days ago and was playing around with it and  i realize that in your test files there was not a file to test it i guess i could always copy the files to usr/share and test it or even make a package and install it and test it but this his not very practical to do every time i change a line of code i was just wondering if you guys have a more practical way  of testing things?

[2014-02-26 23:47] faidoc opened #133 "[FlySpray] - bug with info popup in installer"
This is my first bug report, so I hope I don't screw it up. If you need any additional info, please let me know.

I experienced a problem when installing through the graphical installer. I took a screenshot of the information about the ufw rules (which I found to be a little odd, but I'm sure there is a reason behind that)
When I switched to the file browser to copy it to my hard disk and then bac

[2014-02-27 00:25] lots0logs opened #135 "Global progress bar needs more work"
The bottom progress bar only updates in stages. It starts at 2% and stays there for most of the downloads then it jumps to 55% and then to 100%. How can we make it better?

[2014-02-27 16:51] karasu opened #136 "Swap label is not set"
MaNNa: I add a label 'SWAP' (as well as ROOT. HOME, etc) each time I do a test install, but the swap label is never added.

http://forum.antergos.com/viewtopic.php?f=5&t=1450&start=10

[2014-02-27 16:51] karasu opened #137 "Downloading individual packages still do not complete their progress bar to 100%."
Downloading individual packages still do not complete their progress bar to 100%.

[2014-03-01 10:34] lots0logs opened #139 "better pac.py error handling"
I know the plan is to ultimately get download.py to a working state but I think fixing pac.py error handling goes with that goal :wink:
<img src="http://antergos.info/noooo.png" />

I forgot to grab the damn log file before closing the VM :unamused:

[2014-03-02 18:57] faidoc opened #141 "Desktops description is not being translated when switching languages"
The desktops description is not being translated according to the selected language on Cnchi. Is showing the system language translation only

[2014-03-04 08:22] #132 closed, assigned to nobody

[2014-03-04 09:52] #141 closed, assigned to nobody

[2014-03-06 09:51] #133 closed, assigned to nobody

[2014-03-06 17:02] faidoc opened #143 "Integrate 'installation finished' on main window"
Testing design

![cnchi-finish2](https://f.cloud.github.com/assets/331390/2347838/0281cf4e-a551-11e3-9d54-6da166025c67.png)

[2014-03-06 19:26] #136 closed, assigned to nobody

[2014-03-07 20:15] #135 closed, assigned to nobody

[2014-03-07 20:20] #123 closed, assigned to nobody

[2014-03-09 17:24] karasu opened #144 "XFCE stuck on login"
Installed XFCE using testing build and when I log in the desktop does not load- it just stays at the login screen. I have used the same iso to install gnome and mate and had no issue.

[2014-03-10 08:26] karasu opened #145 "Not installing bootloader in advanced messes up Windows 7 MBR"
If you don't check the checkbox to install a grub bootloader to the HDD in advanced install, it actually messes up the Windows 7 MBR.

[2014-03-10 10:50] karasu opened #146 "Clarify the location screen message"
"Can you make it so that in cnchi I can select my country even though I chose english?
because right now I'm forced to select dutch or I can't get netherlands in the country list.(which is not helpful with logs....)"

http://forum.antergos.com/viewtopic.php?f=5&t=1488

[2014-03-10 12:28] #144 closed, assigned to nobody

[2014-03-11 07:26] lots0logs opened #148 "Need to include english translation file"
This error has been in the logs for a while but I always considered it harmless. Today I realized that if a user clicks on another language and then (for whatever reason) wants to switch back to english it wont work. It will stay in the language they selected or switch to another language but not english.

[2014-03-16 17:14] #148 closed, assigned to nobody

[2014-03-17 07:54] karasu opened #151 "Antergos KDE installation crashes in "configuring system""
Antergos KDE installation crashes in "configuring system".

Used antergos-2014.03.16-x86_64.iso that comes with Cnchi 0.5.22

I'll try again and check the log.

[2014-03-17 15:34] #131 closed, assigned to nobody

[2014-03-18 02:02] lots0logs opened #154 "UI Changes/Fixes"
<img src="http://antergos.info/desktoppy.png" />
Where did that space at the bottom come from? hehe :grin:

<img src="http://antergos.info/automaticpy.png" />
Same here but also there is a ton of empty space overall. Maybe for v.08 we can add a summary of the options the user chose (language, keyboard, features) so the screen doesn't look so empty.

<img src="http://antergos.info/user_infopy.png"

[2014-03-18 09:59] karasu opened #155 "btrfs options in fstab are wrong"
http://forum.antergos.com/viewtopic.php?f=21&t=1512

[2014-03-18 21:34] lots0logs opened #157 "CLI should not be used from testing iso b/c it doesn't follow testing branch"

[2014-03-22 15:07] faidoc opened #161 "Ext2 doesn't support data=ordered"
Ext2 is the default FS when automatic installing for boot. Ext2 doesn't support data=ordered

[2014-03-22 17:25] #161 closed, assigned to nobody

[2014-03-23 15:15] #155 closed, assigned to nobody

[2014-03-24 17:41] #151 closed, assigned to nobody

[2014-03-31 20:22] triplem opened #166 "Adopt German Translation"
Hello,

currently I am in the process of installing Antergos on one of my machines. Some German Translations could use some adoptions. If you do assign me to the German Group in Transifex I could contribute those.

[2014-04-01 14:23] #166 closed, assigned to nobody

[2014-04-06 18:04] triplem opened #171 "Allow configuration of Editions/Desktops and their Features via packages.xml as well"
This would mean slightly more information in the packages.xml as well as that this file is read in the beginning and/or during the installation process already.

What I am thinking of is basically, that all features belonging to an edition are configured in this xml file as well. This would make it possible to do the whole config in the xml instead of in the python code.

Could look something like

[2014-04-11 05:24] triplem opened #172 "testing branch: Filesystem package does not work"
In line 603 of the process.py the Filesystem packages are selected. This will not work with the current packages.xml in testing, since there are no nodes named like the Filesystems in there anymore.

[2014-04-11 10:59] #68 closed, assigned to nobody

[2014-04-13 14:59] TaylanTatli opened #174 "Can't create Cnchi's main window."
Updating mirrorlist...
Installing missing packages...
:: Paket veritabanları senkronize ediliyor...
 core deposu güncel
 extra deposu güncel
 community deposu güncel
 antergos deposu güncel
 multilib deposu güncel
uyarı: git-1.9.2-1 güncel -- atlanıyor
uyarı: grub-1:2.02.beta2-2 güncel -- atlanıyor
uyarı: os-prober-1.58-1 güncel -- atlanıyor
uyarı: f2fs-tools-1.3.0-1 güncel -- atlanıyor
 yapılacak

[2014-04-13 21:21] lots0logs opened #175 "Install process is currently broken"
I sent this in an email reply to the pre-release package @faidoc created but it doesn't look like it ever made it onto github. Anyway, installation is currently broken. I havent had a chance to look at it in detail b/c I am working BUT a user has confirmed that reverting c000c3a fixes the issue. This is a different issue than #174

@karasu

[2014-04-14 00:16] abrenner opened #176 "Advanced Format Option - Fails to Format on Install"
Greetings,

While trying the latest ISO (testing) in a virtual environment, I found a bug with the installation process.

Using a very simple setup of: / as the primary partition with Cnchi already taking care of GRUB/GPT boot partition the following is present in /tmp/cnchi.log

No message is every displayed to the user that the process has failed and the installation is sits idle on the followin

[2014-04-17 01:59] abrenner opened #177 "Can't initialize pyalpm."
Howdy,

Grabbing the test image from Sunday's build, I got the following error during the installation process: Can't initialize pyalpm.

![pyaplm-error](https://cloud.githubusercontent.com/assets/377592/2727413/b882c670-c5d3-11e3-8adf-9c952f6327bb.png)

[code]

[2014-04-17 03:01] #177 closed, assigned to nobody

[2014-04-17 04:40] #176 closed, assigned to nobody

[2014-04-22 14:06] lots0logs opened #180 "Error in automatic mode using both LVM & LUKS"
http://i.imgur.com/WOPXmUM.png

[2014-04-24 03:20] heavensrevenge opened #182 "Add a 2nd progress bar on the install page showing # of packages downloaded out of the total # needed to download"
On the "Installing Antergos" screen where the packages are downloaded one by one, each package uses 100% of the single progress bar in this stage.
Since packages are added to a "transaction" and populated in pac.py, can you add a 2nd separate progress bar above the one already present which shows the total download progresses as a % based on the packages downloaded so far/total packages needing to

[2014-04-27 05:15] Zenzou opened #183 "cnchi 5.38 - Hidden Buttons?"
Forward/Back buttons are hidden until hovered over.  Happens on each page, every time it gets refreshed (such as click said buttons.)
If this was intentional then disregard this.
![hiddenbuttons](https://cloud.githubusercontent.com/assets/7418181/2810523/b3c0cac0-cdca-11e3-9ccd-a8ba93587d50.png)
Thanks

[2014-04-27 07:13] #175 closed, assigned to nobody

[2014-04-27 14:47] #183 closed, assigned to nobody

[2014-04-29 01:41] eeickmeyer opened #186 "Error in line 1128 for UEFI"
txt = _("EFI ( /boot )")

Should read

txt = _("EFI ( /boot/efi )")

[2014-04-30 08:32] lots0logs opened #188 "Review our hardware detection for graphics driver selection"
http://forum.antergos.com/viewtopic.php?f=5&t=1647

[2014-05-05 21:35] #180 closed, assigned to nobody

[2014-05-05 21:36] #174 closed, assigned to nobody

[2014-05-05 21:42] #157 closed, assigned to nobody

[2014-05-16 08:09] #172 closed, assigned to nobody

[2014-05-20 07:54] karasu opened #198 "Cached packages mount/umount location"
When using a mount point where the cached packages are stored, cnchi umounts it, so then it can't find the cached packages :'(

If the packages are directly in the dvd everything goes ok.

[2014-05-21 10:07] Macbets opened #201 "Questions"
Hello, i wanna add new module for cnchi, new module will make custom /etc/pacman.d/mirrorlist (reflector make bad mirrorlist, i live in Russia but my mirrorlist is France.) do u have some developers requirement form code style, or faq to write module for cnchi ??

[2014-05-21 23:38] prodigeni opened #203 "Pull from thus"
Thus was a fork of cnchi and they support many things such as lvm/luks/btrfs in the code. see their dependencies@
https://github.com/manjaro/thus

[code]

[2014-05-22 18:36] #203 closed, assigned to nobody

[2014-05-22 19:18] lots0logs opened #205 "Type Error when calling postinstall script"
This one's my fault :grimacing:  I will fix when I get off work.

[code]

[2014-05-23 18:57] #205 closed, assigned to nobody

[2014-05-24 07:58] aoighost opened #210 "Antergos fails to boot after install on certain SSD setups"
Antegros will fail to boot on some SSD and Hybrid SSD setups after install. The reason for this is documented here: https://wiki.manjaro.org/index.php?title=Kernel_Fails_to_Load_%28pata_acpi_error%29

Please integrate this fix in to the installer by default. Otherwise people with newer computers that have SSDs and Hybrid SSDs will be unable to boot in to the OS.

[2014-05-28 00:19] MintyX opened #214 "Installation stalls on "Updating multilib database""
Hello,

I have had this issue using both the 2014.05.14 and 2014.26.05 64 bit isos. When trying to install Antegros in a VM the installation stalls on "Updating multilib databse". I have let it run for about five hours now to no avail. I looked up a solution which entailed enabling other repos, but that has not worked for me either. Does anyone have any insights?

[2014-05-28 01:46] #214 closed, assigned to nobody

[2014-05-31 14:59] aoighost opened #215 "Allow selecting bootloader for installation"
The current implementation of Cnchi assumes that the user wants to use Grub. On some UEFI systems, GRUB will fail to boot due to errors in the upstream GRUB implementation, however other bootloaders, such as Gummiboot, work just fine. Please implement the ability to select which bootloader you want to use in the GUI. This is required for the GUI to work for installing on some UEFI systems, otherwi

[2014-06-04 11:55] cb9 opened #216 "CLI installer falis"
I have tried to install using CLI installer last year september (Spetember 03,2013) and June 02,2014. I tried to install Openbox desktop. It starts parallel download of the packages and after long time it give error saying "Insallation failed". After pressing Enter on OK button, it says "Refreshing Package Database" The it says "Installing Packages please wait ... " And again says "Installation fa

[2014-06-15 22:34] Holzhaus opened #218 "Error if root partition is already mounted"
Cnchi always wants to format the root partition, but it can't if it's already mounted (e.g. due to a previous installation attempt that has been canceled).

This should be fixed, e.g. checking if the drive is mounted and unmounting it if that's the case.

Tested with antergos-2014.05.26-x86_64.iso.

[2014-06-15 22:40] Holzhaus opened #219 "[cli-installer] Kernel image not generated if custom mkinitcpio is empty"
When installing Antergos, I accidently clicked the button to customize the mkinitcpio.conf. Because I didn't want to make any changes, I just closed the file and continued. Unfortunately, because of that, no kernel image was generated, leaving the system unbootable.

I had to chroot into the system, run mkinitcpio and update grub. This should not happen. If mkinitcpio.conf is empty, Cnchi should j

[2014-06-18 00:59] chrisvella opened #220 "Error creating partitions and their filesystems"
Whenever I attempt to use the automatic partitioning tool. This is with any existing or blank partitioning scheme. However manually setting the partitions stops the installer from failing.

**lscpu**

[code]

**cnchi terminal output:**

[code]

Not sure how much more help I will be able to provide, as I need this machine running for work. Thank you for creating such a fantastic distro.

[2014-06-18 05:38] #220 closed, assigned to nobody

[2014-06-19 07:06] chrisvella opened #221 "Improve the appearance of the decryption password screen"
Hi everyone.

I have just setup and encrypted install of antergos. I would just like to recommend an enhancement, if it is possible to improve the appearance of the decryption password screen. A black prompt isn't the most attractive thing in the linux world. Not sure if this is even possible however.

Thanks

[2014-07-26 07:20] chrisvella opened #223 "[0.6.11] Frozen at "Configuring your new system""
File "./src/slides.py", line 199, in manage_events_from_cb_queue
    show.fatal_error(event[1])
  File "./src/show_message.py", line 42, in fatal_error
    error(message)
  File "./src/show_message.py", line 53, in error
    msg_dialog.format_secondary_text(message)
  File "/usr/lib/python3.4/site-packages/gi/overrides/Gtk.py", line 548, in format_secondary_text
    self.set_property('secondary-te

[2014-08-07 00:36] JacobGuy7800 opened #225 "Canadian location always chooses the French Canadian layout"
I am in British Columbia, and most people here use a US layout keyboard. The installer automatically selects the French Canadian layout when it should only do that in Quebec.

[2014-09-05 04:13] mitsururike opened #226 "cannot find initramfs for linux-lts"
grub-mkcofig fails to find initramfs for linux-lts kernel.
version=`echo $basename | sed -e "s,^[^0-9-]*-,,g"` in 10_antergos for linux-lts is "lts" which should be
"linux-lts"

[2014-11-09 15:39] smo-key opened #230 "intel-dri and lib32-intel-dri missing"
During graphical installation, Cnichi throws "Can't install necessary packages.  Cnchi can't continue."

/tmp/cnchi.log:

[code]

I'm running on a UEFI + MBR system with an Intel i7 chipset and Haswell integrated graphics card.

Neither package is on any of your mirrors.
Can I safely download `intel-dri` and `lib32-intel-dri` and rerun Cnchi or remove these libraries from the list to install and m

[2014-11-09 16:59] ghost opened #231 "Cnchi Throws an error during the package download process"
When using a fresh iso from the website, it seems that Cnchi 0.6.12 (The development version) is installed by default, which I'm curious about!

But also, even when using an earlier development version, the installation came along very well, if only missing the Numix icons for the Avahi SSH, VNC, and Zeroconf programs.

Now as of yesterday night, I had tried using the default (0.6.12) installer on

[2014-11-11 06:12] #230 closed, assigned to nobody

[2014-11-16 03:53] WokSearedBacon opened #232 "Version 0.6.40 Fails to properly install the bootloader on UEFI Devices"
My hardware is the Dell XPS 13 9333, with UEFI Secure Boot disabled.

While 0.6.12 Properly installed the Grub-efi bootloader on my computer, when installing with the 6.16 revision it seems that Cnchi fails to install the bootloader entirely, and the Antergos_Grub boot option doesn't even show up in the installed boot options as it does with 0.6.12.

For clarity, I had set up my SSD's partition ta

[2014-11-21 16:05] transcursion opened #233 "Syntax error on Cnchi/scripts/10_antergos"
Missing opening paranthesis on line 115

[2014-11-21 17:10] #233 closed, assigned to nobody

[2014-11-23 03:33] ghost opened #234 "Latest Cnchi Script fails to start due to missing 'requests.py' module"
(Given I found out that my SSD is fortunately very reliable :) )
I had given reinstalling my system with Cnchi-dev again, to help check the results of my previous issue.

First, I tried installing again with 0.6.12 (For a basic benchmark) and it turned out that the installer quit exactly after I entered my user info, throwing a 'Cnchi couldn't install necessary packages' error.

 After that, I tri

[2014-11-24 18:34] #231 closed, assigned to lots0logs

[2014-11-26 17:09] paulspencerwilliams opened #235 "Cnchi hangs after Installing using the 'automatic' method."
Installing on my Dell M4600 fails. Originally the default Graphical install failed with transaction / database problem which I believe I resolved with with commands in https://github.com/Antergos/Cnchi/issues/214.

Now, when I choose defaults for all except adding 'aur' feature, it no longer errors about installing packages but hangs. The /tmp/cnchi.log contains.

[code]

[2014-11-26 20:25] #235 closed, assigned to nobody

[2014-11-28 17:02] ghost opened #236 "Cnchi is having visual errors on the options list and 'Choose your desktop' slide"
The first visual issue is that in the options list the top two options have icons and switches, but no text or tooltips. I have a link to a picture of this below:
   http://bit.ly/12btq32

The Next visual issue is just that the 'Choose your Desktop' Slide is a bit too big for its viewing area. Picture of that below:
   http://bit.ly/1vtRJUq

[2014-11-28 17:07] WokSearedBacon opened #237 "Cnchi is forgetting to install the Pacman GPG keys, and overlooks the error message for the issue!"
When using the latest 11.28 iso with the default Cnchi version, when run with 'su cnchi -d' Cnchi seems to move along well without any apparent errors, but when I look at the log, it appears to have a few.

One of these is that Cnchi fails to find the file containing the GPG keys for Pacman, and if you let Cnchi install a system, it renders the system absolutely unable to install packages via pacm

[2014-11-28 17:09] ghost opened #238 "Cnchi isn't finding Libreoffice Packages again!"
I'm not sure exactly what's going on with this, Cnchi certainly was able to install Libreoffice before, but here are the messages from the log if they would help fix the issue:

[code]

[2014-11-28 17:12] ghost opened #239 "Cnchi seems to fail connectng to LVMETAD"
This is a new issue to me, but this message from a new Antergos installation with the 11.28 ISO build has this worrying error message:

[code]

[2014-11-28 17:28] #239 closed, assigned to nobody

[2014-11-28 18:24] #238 closed, assigned to nobody

[2014-11-28 18:25] #234 closed, assigned to nobody

[2014-11-28 18:26] #236 closed, assigned to nobody

[2014-11-28 22:23] indam opened #240 "Graphical installation failed"
Hello,
I am trying to install antergos with the Graphical interface, but failed.
I am using a version of cnchi-dev 0.6.23, which I downloaded from github. Because the default one in ISO(2014.08.07) also has the same problem.

For my computer(UEFI), I have a SSD installed with Win8, and an additional HDD, whose some partitions were planed to used for Antergos.

Here is the fragmentation of error lo

[2014-11-28 22:28] limasierra opened #241 "Cnchi fails to install"
Hi,

I tried to install Antergos today and had some trouble with the installer. The main problem seems to be similar to this one: https://github.com/Antergos/Cnchi/issues/230 . The installer simply fails right at the beginning of the actual installation (after you entered your name etc.).

The solution was a git revert:
- execute cnchi-dev
- cd /usr/share/cnchi/
- git hard reset to "Merge pull req

[2014-11-29 16:36] paulspencerwilliams opened #242 "Cnchi fails to start or log on 2011 MBA 11""
I'm attempting to dual boot Antergos with OS X on my MBA. Booting a live USB stick seems to work, I can access internet over WIFI etc. Previously, running a live USB on my work Dell autoloads cnchi, with the option of installing Antergos. It does not autoload on the MBA, and when I run it manually, nothing is logged in /tmp/cnchi.log.

I am using the antergos-2014.11.26-x86_64.iso iso.

[2014-11-30 07:35] prescott66 opened #243 "Idea: Translateable slides"
Can be text in slides translateable? Then will cnchi look more user friendly for non-english users.

[2014-11-30 21:23] prescott66 opened #245 "GDM in Gnome"
What about to replace lightdm with GDM at least in Gnome edition? It fixes problem with screensaver and unlocking pc after resume from sleep.

[2014-11-30 21:29] #245 closed, assigned to nobody

[2014-12-25 15:39] prescott66 opened #249 "Lxpolkit in XFCE"
Can be enabled lxpolkit after installation xfce edition? Lxsession is installed defaulty bud lxpolkit is not runned after start-up. So there is a problem for example with running pamac without lxpolkit and more apps.

[2014-12-27 10:17] prescott66 opened #250 "Automatic keyboard layout selection"
Can be keyboard layout selected automatically by the language selected at the beginning of cnchi?
Example: I am using slovak language, but cnchi choose for me USA keyboard layout.

[2014-12-29 01:21] Xarin opened #251 "Cnchi 6.28/30/32 freezing while downloading packages."
Trying to get Antergos back on my laptop. Both Cnchi 6.28 and 6.30 are freezing up either the whole machine or sometimes just the installer. It seems to be random freezing up or halting downloading on different packages everytime.

[2014-12-29 17:23] #201 closed, assigned to nobody

[2015-01-13 20:44] lots0logs opened #253 "Unable to boot after installation if full disk encryption enabled"
http://forum.antergos.com/viewtopic.php?t=2646&p=12620#p12620

[2015-01-17 14:18] stratus-ss commented on #223
The pastebin has been removed. Its hard to diagnose without logs

[2015-01-17 16:37] lots0logs commented on #223
I am pretty sure this was fixed. If it turns up again we can reopen the issue.

[2015-01-17 16:37] #223 closed

[2015-01-19 19:18] vamega commented on #232
Hi.

This is still an issue, I just attempted to perform an install on the my Dell XPS 13 9333 as well. Secure boot was disabled. I was running Cnchi 0.6.45 I think.

I have my installer log at https://gist.github.com/6fee88fcd147248b78b1.
Seems to fail at the grub-install command. I was able to run that manually and have things work.

[2015-01-20 02:58] WokSearedBacon commented on #232
Have you tried 'cnch-dev' at all? The current version of Cnchi has this issue fixed.

[2015-01-20 07:32] orschiro opened #254 "Advanced filesystem option: boot flag issue"
Hi there,

Many thanks for these great developments of Antergos and Cnchi!

Last time I installed Antergos was back in 2012 and I was totally satisfied with it. Until yesterday when I accidentally broke my entire system due to a wrong option in an rsync backup script...

Thus time for a new, clean installation. I used the advanced option at the point of filesystem partitioning.

I used to use only

[2015-01-20 08:04] karasu commented on #254
Hi,

Thanks for you kind words and your feedback. I'll check this because it should let you go on without a boot partition, but if I recall correctly there are some cases where we enforce a boot partition....

I'll look into it asap. Thanks!

[2015-01-20 09:11] orschiro commented on #254
Thanks for looking into it. I am very pleased by the new installation. It was worth it!

[2015-01-20 21:47] lots0logs commented on #254
We enforce a boot partition when using LVM because grub required it (at that time). I believe grub's LVM support is much better today so we will have to take another look at this for sure.

[2015-01-20 22:46] orschiro commented on #254
When using LVM, if your / partition is on the LVM, it used to be
    necessary to have a separate /bootpartition. In such a
    configuration, the /boot partition is not be a partition of the LVM,
    but rather a partition on the disk before the LVM starts. This is
    because boot loaders could not read files from an LVM. So you could
    never boot into your system on the LVM if it didn’t have

[2015-01-21 07:25] karasu commented on #254
@lots0logs : So, what do we do? As we are using always the (nearly) latest Grub version, it should be ok to let users with lvm not have a boot partition, shouldn't it?

[2015-01-21 09:38] ial-su3 opened #256 "In advanced mode lvm is not in the initcpio"
So after my initial and wrong pull request, I had another look.

It appears the "use_lvm" setting is in never set in advanced mode, even if root is on lvm.

[2015-01-21 15:26] axaxs commented on #256
This is closer but not correct.  The setting you are looking for is blvm,
not use_lvm, at least for 'advanced' installs.

To my understanding, lvm2 only needs added to modules if boot partition is
lvm.  Is that not correct?  Based on your setup, you had /dev/sda1 as /boot
and lvm as /.  So does lvm2 still need to be added in this setup?

On Wed, Jan 21, 2015 at 4:38 AM, Ian Lee <notifications@gith

[2015-01-21 15:32] sils1297 commented on #210
Is there a workaround? i.e. installing bootloader manually after installation.

[2015-01-21 18:00] ial-su3 commented on #256
Yes, if root is on an lvm volume the initcpio must have lvm2 hook enabled to be able to detect and mount the root filesystem.

[2015-01-21 18:47] axaxs commented on #256
Thanks, this helps a lot.  So your first change was on the right track.  If
you want to work on the pr, change the logic to(pseudocode) -

if "/" or "/boot"
    self.blvm = True
    if noboot:
        rest of logic about setting flags

On Wed, Jan 21, 2015 at 1:00 PM, Ian Lee <notifications@github.com> wrote:

[2015-01-21 20:04] lots0logs commented on #254
Yes but I'm not sure if any adjustments will need to be made to the grub install methods. I would consider this an enhancement to be implemented in a future version.

[2015-01-21 20:06] lots0logs commented on #210
This bug was never actually confirmed in our testing. I recently tested on my brand new PC which includes an SSD/HDD setup. I had no problems.

[2015-01-21 20:14] sils1297 commented on #210
I definitely reproduced what the bug title says. I cannot say anything about the exact error because I was a bit in a hurry and did a manual installation after trying three different configurations with a hybrid SSD/HDD setup which all failed. However it might also be important to note that this was an UEFI setup.

I am sorry but I can provide no more information (i.e. a log). If you have any ques

[2015-01-22 11:25] karasu commented on #210
Blacklisting the pata_acpi module in /etc/default/grub (as the Manjaro wiki suggests) solves your issue?

GRUB_CMDLINE_LINUX="modprobe.blacklist=pata_acpi"

[2015-01-24 05:27] WokSearedBacon commented on #232
As it turns out on my XPS 13 hardware, I am seeing this same missing bootloader issue on 0.6.40 yet again, with the same setup on which I had installed to successfully in recent versions. I'll check the logs and code ASAP.

[2015-01-24 15:10] WokSearedBacon commented on #232
Would this have anything to do with downtime on our servers?

[2015-01-25 22:43] WokSearedBacon commented on #232
Here are a few logs for the installation:
/tmp/cnchi.log                                            http://ur1.ca/jjfi3
/tmp/pacman-boot.log                              http://pastebin.com/L5z82HRY

[2015-01-26 04:40] lots0logs commented on #232
From the output that was logged, it appears that the grub install was successful. I see no indication of a problem. What happened when you rebooted after this installation?

[2015-01-26 17:04] prescott66 opened #258 "English keyboard after installation in Gnome"
In Cnchi installer i have selected slovak language and keyboard too, but after installation i have english selected in Gnome. it should by slovak default. Maybe you should think about integrating gnome-initial-setup tool, where can user configure basic things like these.

[2015-01-28 01:58] WokSearedBacon commented on #232
(Excuse the delay) After I installed with Cnchi (seemingly successfully) and restarted my computer it would only boot to the live media, even with the SSD OS given 1st boot priority. when I look through the UEFI listings after reboot I also don't see the 'antergos_grub' entry (or any new entries), when my setup would allow new UEFI entries to be added.

[2015-01-28 06:56] lots0logs commented on #232
That's very strange. The logs indicate that the grub-install command completed without any errors. We'll have to wait for further testing or additional reports from users.

[2015-02-03 02:23] WokSearedBacon commented on #237
From what I've seen, the keys have been copied in without a hitch.

[2015-02-03 02:23] #237 closed

[2015-02-04 10:57] xidoc commented on #186
I have a problem with /boot.
I would like to install antergos but I have an error in the grub.
When I go to see my settings bios, Antergos is not visible. I don't understand.
I installed manjaro with boot/efi as option, and it's work.
I am not a expert but I think boot/efi  is good for me.

[2015-02-04 19:23] lots0logs commented on #186
The mount point has no effect on whether or not your system can boot. Please create a post in our forum so that we can assist you in resolving your issue. I'm closing this as a non-issue. If that changes at any point in the future we can reopen it.

[2015-02-04 19:23] #186 closed

[2015-02-04 19:29] eeickmeyer commented on #186
@lots0logs I understand the rationale, but (and this might be a failure on my part), I did install the latest Antergos iso on my system (using /boot for my ESP) and it failed to boot. The ability to specify whether or not it mounts to /boot or /boot/efi in the advanced partitioned is still not there.

That said, I think Antergos is a great distro, you're doing a great job, but implementation for U

[2015-02-05 23:29] #256 closed

[2015-02-08 20:53] KardiWeb opened #261 "Hungarian language update!"
Dear developers!

Please update hungarian language on transifex!

Thank you!

[2015-02-14 15:52] 13xforever commented on #186
Why was this issue closed? You still can't override the option, I still can't install it on my system (my ESP partition is only 200 MB, I can't put kernels in there, and I can't repartition my SSD without losing the data).

[2015-02-15 06:02] chris062689 opened #262 "2/15/2015 - Unable to Install - Cannot Find Package"
When attempting to install from either cnchi, cnchi-dev, or the daily builds, I am receiving the following errors:

[2015-02-15 19:29:20] [pac.py] ERROR: Can't find a package or group called 'gst-vaapi'
[2015-02-15 19:29:20] [pac.py] ERROR: Can't find a package or group called 'gstreamer0.10-vaapi'
[2015-02-15 19:29:20] [pac.py] ERROR: Can't find a package or group called 'v86d'

This is resulting

[2015-02-15 06:03] LoganKaser commented on #262
same issue here

[2015-02-15 06:18] hotanime commented on #262
I'd imagine this is what's causing the GUI installer to lock up at "Copying xz files from cache..." for both me and a friend.

[2015-02-15 07:24] LoganKaser commented on #262
Yes it is.

[2015-02-15 07:53] #262 closed

[2015-02-15 10:24] sinayion opened #263 "Graphical installer hangs on "updating community database""
Hardware: HP ProBook 4430s

Issue: After entering user details, and attempting to install, the graphical installer stays infinitely on "updating community database".

This was tested on the following builds:
 - 01.11
 - 02.10

Let me know what other info I can give, to help.

[2015-02-15 11:52] vejobuj commented on #263
/tmp/cnchi.log

[2015-02-15 13:40] karasu commented on #263
@vejobuj : Where's the log?

[2015-02-15 14:55] marcusclark007 commented on #263
I'm having the same issue.  It seems to occur with both the graphical installer and the CLI installer.
I'll try to post the log in the morning.

[2015-02-15 14:55] chris062689 commented on #262
This issue is still occurring using cnchi-dev.

[2015-02-15 04:52:54] [pac.py] DEBUG: Finalize transaction...
[2015-02-15 04:52:54] [pac.py] WARNING: dependency cycle detected:

[2015-02-15 04:52:54] [pac.py] WARNING: ncurses will be installed before its bash dependency

[2015-02-15 04:52:54] [pac.py] WARNING: dependency cycle detected:

[2015-02-15 04:52:54] [pac.py] WARNING: harfbuzz will be ins

[2015-02-15 15:49] Jevans101 opened #264 "Installer hangs at "Copying xz files from cache...""
Hi.
I've been trying to install Antergos today but it seems the installer is preventing me from doing so.  The installer hangs   at "Copying xz files from cache..." .  I've noticed a few others have been having the same problem on the Google Plus community page and on the forums.  Around the time the installer crashes, I get the message: "[pac.py] ERROR: unresolvable package conflicts detected" in

[2015-02-15 16:15] SunburstLP commented on #263
Same problem here.  The only reason I got this far was from following lots0logs suggestion about the multilib db. (added repo.antergos.info to mirrorlist)   Thanks all.  Here's the contents of the log.

[2015-02-15 06:03:40] [mainwindow.py] INFO: Cnchi installer version 0.6.43
[2015-02-15 06:03:45] [timezone.py] INFO: We have connection. Let's get our timezone
[2015-02-15 06:03:45] [timezone.py] I

[2015-02-15 16:58] karasu commented on #263
@SunburstLP : v86d has been moved from [extra] to AUR. Let me fix this...

[2015-02-15 17:04] karasu commented on #263
OK. I removed the v86d package installation.

But, there're still two things in your log that worry me:

1) ERROR: Can't find a package or group called ''
It seems it's trying to install a package with no name? Something is wrong here. Which "features" did you select in your installation?

2) Command '['mkfs.ext4', '-q', '-L', 'Root', '-m', '1', '-O', 'dir_index', '/dev/sda5']' returned non-zero e

[2015-02-15 17:28] SunburstLP commented on #263
AUR, TTF fonts, LibreOffice, Printing Support and Uncomplicated Firewall.

I'm manually partitioning.  I have a 1TB ssd that has the win 10 preview on it, I split the drive down the middle; 500gb for each.  Here's how I've broken it down:

sda2-260 mb, ext2 for /boot
sda3-18GB for swap
sda4-25GB for /, ext4
sda5-430GB for /home, f2fs

It's still getting the '' and v86d errors, let me try this agai

[2015-02-15 17:41] SunburstLP commented on #263
Okay, so I re-booted and tried cnchi again.  No dice, got hung on updating databases.  So, rebooted again and closed cnchi on boot and did:

I deselected *all* options and proceeded with the install.  Good news, the blank package error is gone, but v86d is still popping up as an error.

at the bottom of the terminal while hung on copying XZ files from cache is:

Man, I hope the formatting went thr

[2015-02-15 17:55] karasu commented on #263
Hi,
I don't get it, I removed the x86d package from the installation list.

Which Cnchi version are you using when running cnchi-dev ? Latest should be 0.6.43

[2015-02-15 17:55] SunburstLP commented on #263
Aye, it is 0.6.43.

[2015-02-15 18:08] karasu commented on #263
OK, now Cnchi forces the package removal from list.
Please, if you can try it again, check that it's Cnchi 0.6.44

Thanks for your patience!

[2015-02-15 18:36] SunburstLP commented on #263
I'm still getting 0.6.43.  Can I force a specific mirror since I'm reading that updates can take 24hrs to propagate repos?

[2015-02-15 18:43] SunburstLP commented on #263
Hallelujah! That seems to have worked.  Maybe this will help @sinayion out.  BTW, I really like 0.7.180's partitioning options more than 0.6.4x's.

Thanks a ton for your help @karasu .

[2015-02-15 18:46] karasu commented on #263
OK, I also ported 0.6.x fixings to 0.7.x, so it's good news it's working.

Glad it worked!

Cheers!

[2015-02-15 19:42] chris062689 commented on #264
Duplicate of #263.  Proposed solution.

[2015-02-15 19:43] chris062689 commented on #262
Duplicate of #263.  Proposed solution seems to be working for me.

[2015-02-15 19:44] chris062689 commented on #263
Using the latest cnchi-dev appears to have resolved my issue.
[code]

[2015-02-15 20:27] sinayion commented on #263
Hi all,

Thanks for working on this and providing info, it's awesome for a Sunday. I have almost the exact same setup as @SunburstLP with Windows 10 Preview, and selecting the same options during the installation.

So, I also tried
'''
sudo pacman -R cnchi
sudo pacman -S cnchi-dev
'''
But when I try to run cnchi-dev, I get the following
'''
[antergos@Antergos-ISO ~]$ sudo pacman -R cnchi
checking

[2015-02-15 20:32] karasu commented on #263
Try using --force to install cnchi-dev

El diumenge, 15 febrer de 2015, Harry Kashouli <notifications@github.com>
va escriure:

--
Enviat amb el meu Iphone

[2015-02-15 20:32] SunburstLP commented on #263
Sorry, I forgot that bit.  You just reinstall cnchi and then invoking cnchi-dev will get you the new version.  I'm not sure how that works, as I've been using buntus for the last 8 years.

Now I'm having a completely different problem, but I haven't been able to look into it yet.

[2015-02-15 20:34] chris062689 commented on #263
It seems that I spoke too soon.
It's getting to 100% in "Downloading [package]" then it freezes again.
http://i.imgur.com/WsDzu52.png

[2015-02-15 20:42] sinayion commented on #263
Forcing the install of cnchi worked to get cnchi-dev to execute without the previous errors, but when I invoke
[code]
I get version 0.6.43, instead of 0.7.x. I'm running this on the 01.11 iso, should I be running on a later testing one?

[2015-02-15 20:51] chris062689 commented on #263
Don't use cnchi-dev for now, instead, do the following:
[code]

But, I'm having it freeze at 100% after it downloads all of the packages, is anyone else experiencing this?

[2015-02-15 21:21] lots0logs commented on #263
@chris062689 Could you post the log here? Thanks. (/tmp/cnchi.log)

`cnchi-dev` command will update cnchi to the latest code on the master branch of cnchi stable (0.6.x). The actual development branch (0.7.x) is very volatile as we are constantly making changes. For that reason we don't recommend using it for production installs.

If someone could try again using the normal workflow (the version t

[2015-02-15 21:30] #264 closed

[2015-02-15 21:36] sinayion commented on #263
Ah, good point. Let me stop this install using cnchi-dev, and I'll grab a log from the regular cnchi.

[2015-02-15 21:40] lots0logs commented on #263
Thanks for helping us identify and resolve this issue! Note: The installer that starts at boot should be v0.6.44 or later. If its not then do not proceed. Most likely the mirror closest to your location has not refreshed yet.

[2015-02-15 21:42] chris062689 commented on #263
I'll restart the installation using the latest installer (v0.6.44) and post the logs from it.

[2015-02-15 21:46] mouradxmt commented on #263
it will be resolved  by installing with the cnchi-dev , seriously this version is full of issues :/

[2015-02-15 21:48] lots0logs commented on #263
@mouradxmt No, you should not need to use cnchi-dev. Please review my previous comments. Thanks!

[2015-02-15 21:49] mouradxmt commented on #263
yeah , I installed the cnchidev but I opend it with sudo cnchi

[2015-02-15 21:52] mouradxmt commented on #263
@lots0logs  but it will work with the cnchi-dev ? and thanks :smile:

[2015-02-15 21:54] chris062689 commented on #263
@mouradxmt  I believe he wants everyone to install using the latest stable version (the version Cnchi auto-updates to.) in order to weed out issues.

I have attempted to install, but it doesn't proceed past the "Updating trust database" in the CLI, despite sitting at the "Resolving dependencies" screen in the installer.

http://i.imgur.com/u21RE19.png

[2015-02-15 21:56] sinayion commented on #263
- cnchi 0.6.44
 - KDE & all further options enabled
 - hangs at "caching xz files from cache"
 - log below
[code]

[2015-02-15 21:58] chris062689 commented on #263
Attempted to run the installer (0.6.44) without the command line, and the GUI side of it got farther, strange.
http://i.imgur.com/P0hXVt4.png

[2015-02-15 22:02] mouradxmt commented on #263
0.6.44.1 It stuck here , copying xz files from cach
![screenshot from 2015-02-15 22 01 09](https://cloud.githubusercontent.com/assets/11021041/6205195/334e9c06-b55e-11e4-847b-f10a2bed51c4.png)

[2015-02-15 22:03] chris062689 commented on #263
@mouradxmt Your screenshot is blocking the console.  :)
Also, can you post the last few lines of your log in /tmp/cnchi.log

[2015-02-15 22:04] mouradxmt commented on #263
ok
[2015-02-15 21:55:02] [mainwindow.py] INFO: Cnchi installer version 0.6.44
[2015-02-15 21:56:25] [timezone.py] INFO: We have connection. Let's get our timezone
[2015-02-15 21:56:26] [timezone.py] INFO: Timezone detected.
[2015-02-15 21:56:28] [check.py] INFO: We have Internet connection.
[2015-02-15 21:56:28] [check.py] INFO: We're connected to a power source.
[2015-02-15 21:56:28] [check.py] I

[2015-02-15 22:05] sinayion commented on #263
@lots0logs, when I cancel the installer, I have to reboot the computer because
 - cnchi won't use the previous LVM/btrfs partitions, because it ca't mount them again
 - I can't run terminal, because it fails with "There was an error creating the child process for this terminal. grantpt failed: Operation not permitted".

Is there something I can do to fix this without needed to reboot every time?

[2015-02-15 22:06] chris062689 commented on #263
@sinaylon I am experiencing the same issue, but perhaps those should be in separate bug reports, we don't want this to become cluttered.

[2015-02-15 22:07] mouradxmt commented on #263
@sinayion It's became to me too :disappointed:

[2015-02-15 22:07] sinayion commented on #263
Good point, I'll put that in separately.

[2015-02-15 22:08] karasu commented on #263
It's a KDE packaging problem (or so it seems).
I'm sure @lots0logs will fix this ASAP.

[2015-02-15 22:09] mouradxmt commented on #263
@lots0logs  any news bro' ?

[2015-02-15 22:10] chris062689 commented on #263
@karasu  I am selecting the GNOME environment, and this also happens with the MATE environment.
It appears to effect all desktop environments, correct?

[2015-02-15 22:13] karasu commented on #263
@mouradxmt and @sinayion  logs show that it's a KDE issue.
@chris062689 : No, it shouldn't fail in other DE's. Are you also having this lines in your log?

ERROR: Can't find a package or group called 'kdebase-konsole'
ERROR: Can't find a package or group called 'kdegraphics-gwenview'
ERROR: Can't find a package or group called 'kdesdk-kate'

[2015-02-15 22:14] chris062689 commented on #263
@karasu  No, the lines I am experiencing are (when selecting the GNOME environment)
[code]

[code]

[2015-02-15 22:17] mouradxmt commented on #263
the dev version hangs after partitioning
![screenshot from 2015-02-15 22 15 41](https://cloud.githubusercontent.com/assets/11021041/6205259/57ee6dc8-b560-11e4-9f13-1cfafd8ffcbc.png)

[2015-02-15 22:17] karasu commented on #263
OK, we're having two different issues here. One that produces this error:
ERROR: Can't find a package or group called ''

And another one, related to KDE, that produces this errors:
ERROR: Can't find a package or group called 'kdebase-konsole'
ERROR: Can't find a package or group called 'kdegraphics-gwenview'
ERROR: Can't find a package or group called 'kdesdk-kate'

I'm really sorry but it's too

[2015-02-15 22:19] chris062689 commented on #263
@mouradxmt The issue you are experiencing using the dev version is not related to this specific issue.  It is a dev version, you should be using the stable version.

[2015-02-15 22:19] sinayion commented on #263
No worries, I'm now trying just a base install with all the options deselected, and it looks like it's working. The installation part, at least!

[2015-02-15 22:19] karasu commented on #263
OK, now three errors :cry:
But please, remember that dev version is a dev version ;)

[2015-02-15 22:20] sinayion commented on #263
yup, agreed. We should be focusing on the stable one for now.

[2015-02-15 22:21] mouradxmt commented on #263
@karasu  yes I know :'( :disappointed_relieved: please work on the stable version to work great , , now I'm without os :disappointed_relieved:

[2015-02-15 22:21] Jevans101 commented on #263
Wow, reading all this makes me feel really reassured. :) Goodluck on fixing the problem.

[2015-02-15 22:23] mouradxmt commented on #263
yeah good luck and let it automaticly resolved :smiley: without any effort , automatic update

[2015-02-15 22:23] mouradxmt commented on #263
I must go to bed good bye

[2015-02-15 22:26] Jevans101 commented on #263
Night folks.

[2015-02-15 22:41] lots0logs commented on #263
This has always been an annoyance of how mounting and unmounting operate for Arch. You can try running this before restarting Cnchi:
 `sudo umount -lfR /install`
Just to be clear, that's:
 `sudo umount --lazy --force --recursive /install`

RE: KDE Packaging issue -- it will be corrected momentarily.

Let's keep this issue thread focused on the stable version only. Do not run cnchi-dev nor install

[2015-02-15 22:43] mouradxmt commented on #263
@lots0logs  we will waiting the stable version , when this version will appear ? we're on the live and the computer without OS

[2015-02-15 22:48] chris062689 commented on #263
@lots0logs Will this also correct my issue with the GNOME desktop environment?
[code]
Also, after the update is pushed, can you provide instructions on what the new version number is and how to update to it, if not automatically?  Thanks.

@mouradxmt It'll be resolved when it's resolved, he'll let you know when it's pushed to cnchi.

[2015-02-15 22:49] mouradxmt commented on #263
@lots0logs  please tell us when the version release , It will be automaticly updated ?

[2015-02-15 22:51] mouradxmt commented on #263
@chris062689  this is what i want to know

[2015-02-15 23:16] sinayion commented on #263
The installer completes successfully with base & all options disabled. Cnchi 0.6.44. Let me know when you want me to try with KDE.

[2015-02-15 23:18] mouradxmt commented on #263
@sinayion great , with gnome ?

[2015-02-15 23:29] chris062689 commented on #263
@mouradxmt No, he is installing using the 'Base' option, with no desktop environment installed.
We will have to wait until they released a version fixed for other DEs.
Github isn't meant to be a chatroom, if you have other questions @mouradxmt please hop on IRC and I'll be happy to answer them.

[2015-02-15 23:30] lots0logs commented on #263
The updated version of cnchi stable will be installed automatically upon booting the live image. Currently v0.6.44 should resolve the packaging issues for gstreamer and kde.

@chris062689  As for the issue of the empty package name, I am not sure. I'll need to see the logs from when that error occurs.

If you do not want to reboot the image for whatever reason you can run `sudo pacman -S cnchi` to

[2015-02-15 23:34] mouradxmt commented on #263
Sorry I'm just new here , the terminal won't open
There was an error creating the child process for this terminal

[2015-02-15 23:37] lots0logs commented on #263
@mouradxmt If you are without a usable OS on your system, please go ahead and reboot your system and then proceed with installation. It should complete successfully. If it does not complete successfully please post the log here. You can find the log at /tmp/cnchi.log THANKS!

[2015-02-15 23:39] chris062689 commented on #263
I have restarted with a fresh instance, installing on Cnchi 0.6.44.
Selected the Gnome Desktop.
Have the following extra features:
[code]

The GUI screen is stuck at "Resolving dependencies" with the error log:
[code]
http://pastebin.com/KdDWRnQX

I do not see a section for not being able to find a specific package this time.

[2015-02-15 23:42] sinayion commented on #263
@lots0logs, I get the same xz cache issue that I mentioned earlier, in 0.6.44

[2015-02-15 23:45] lots0logs commented on #263
I'm fairly certain this is a stale mirror issue. The lightdm theme was recently updated with a change to its dependencies. Let me try something.. Wait 10 minutes and then try again. (cnchi version will not change for this)

[2015-02-15 23:47] mouradxmt commented on #263
the same issue and i selected kde

[2015-02-15 23:49] mouradxmt commented on #263
the log
'''
[2015-02-15 23:40:31] [mainwindow.py] INFO: Cnchi installer version 0.6.44
[2015-02-15 23:40:43] [timezone.py] INFO: We have connection. Let's get our timezone
[2015-02-15 23:40:43] [timezone.py] INFO: Timezone detected.
[2015-02-15 23:40:45] [check.py] INFO: We have Internet connection.
[2015-02-15 23:40:45] [check.py] INFO: We're connected to a power source.
[2015-02-15 23:40:45] [ch

[2015-02-16 00:01] chris062689 commented on #263
Thanks @lots0logs , this appears to have resolved my issue.
It's getting past and actually downloading packages.
I'll report back once the installation has completely finished.
[code]

[2015-02-16 00:13] mouradxmt commented on #263
kde , all are selected , , actually downloading packages :smile: It's resolve the issue , thank you @lots0logs

[2015-02-16 00:38] sinayion commented on #263
Success here as well, KDE installed fully with all options, and I'm now booted into the system. :)

Many thanks for everyone's help.

[2015-02-16 01:17] mouradxmt commented on #263
It's done perfectly , Kde wih all features enabled
![screenshot from 2015-02-16 01 14 08](https://cloud.githubusercontent.com/assets/11021041/6206084/898304c0-b579-11e4-8aaa-2f41db3a2bab.png)

[2015-02-16 01:21] LoganKaser commented on #263
What steps did you follow?

[2015-02-16 01:29] mouradxmt commented on #68
how to make it manually , the grub doesn't detect my windows8.1 already installed ?

[2015-02-16 01:51] mouradxmt commented on #263
no step , the default one
but firstable in the boot wait untill updating cnchi

[2015-02-16 02:05] chris062689 commented on #263
Validated that the mirror refresh on your end fixed my issues.
I was able to install successfully.  Thanks.

@LoganKaser Remember to wait until after cnchi finishes updating (there's a notification in the corner) then you have to close out of cnchi completely and relaunch it.
Make sure the version number is 0.6.44

[2015-02-16 02:27] SunburstLP commented on #263
I got a Gnome install up and running.  Dev team, thanks a million, you all rock.  If there's anything you want tested, just say so.  :)  With gratitude.

[2015-02-16 03:55] lots0logs commented on #263
Thank you all for your help in resolving this. We appreciate it :smile:

[2015-02-16 03:55] #263 closed

[2015-02-17 07:45] karasu commented on #263
@mouradxmt: fyi, I've fixed the bug you reported in the dev version. Thanks.

[2015-02-17 08:04] karasu commented on #251
[2014-12-30 22:49:42] [pac.py] ERROR: Can't find a package or group called 'mesa-dri'
[2014-12-30 22:49:42] [pac.py] ERROR: Can't find a package or group called 'broadcom-wl'

mesa-dri has been renamed. It's already fixed.
broadcom-wl is in the AUR, that's why Cnchi can't find it. I'll add it to our repo.

Cheers!

[2015-02-17 08:04] #251 closed

[2015-02-17 12:09] mouradxmt commented on #263
@karasu thank you :smile: there is another issue but in grub I think , windows 8.1 can't appear

[2015-02-17 16:04] karasu commented on #263
@mouradxmt : Could you create another issue? (It will be easier to follow and fix)
Thanks!

[2015-02-17 19:03] mouradxmt opened #265 "Grub can't find windows 8.1"
when I have installing antergos I look for windows in grub menu I don't find it , I have installing antergos in the past and no problem , but now the problem appear , how to resolve , I have tried sudo grub-mkconfig but without any news

[2015-02-18 00:40] lots0logs commented on #265
There is a bug in grub/os-prober that prevents other OS's from being properly detected from the live media. Once you boot into your Antergos system, running grub-mkconfig should properly detect all of the OS's installed on your system: `sudo grub-mkconfig -o /boot/grub/grub.cfg`

Please let me know if it does not resolve the issue for you.

[2015-02-18 13:01] mouradxmt commented on #265
I have tried it but without any result

[2015-02-24 01:41] Davidlinuxx commented on #258
A mí me pasó algo parecido, pues al instalar a pesar de que he probado con teclado español y Latinoamérica, una vez instalado me carga (como por defecto) el teclado de USA. Por ejemplo me impide escribir tíldes. (en este momento las escribo desde la versión Live a ver si pinchando en algún lado me carga como debe ser).

[2015-02-24 12:39] gatlinnewhouse commented on #240
I'm having the same issue on the graphical installer on the build I downloaded from here: http://antergos.com/try-it/

[2015-02-24 12:48] gatlinnewhouse commented on #240
I'll try not updating cnchi over WiFi and installing tonight. If that works I'll report back.

[2015-02-24 22:33] gatlinnewhouse commented on #240
Cnchi 0.6.44 is what version this crashed on.

[2015-02-24 22:43] gatlinnewhouse commented on #240
I can't update cnchi by running "sudo pacman -S cnchi-dev"

[2015-02-24 22:49] indam commented on #240
Use "sudo cnchi-dev", it will update itself automatically. But still may
not work.

I can't update cnchi by running "sudo pacman -S cnchi-dev"

—
Reply to this email directly or view it on GitHub
<https://github.com/Antergos/Cnchi/issues/240#issuecomment-75863356>.

[2015-02-24 23:40] gatlinnewhouse commented on #240
I'll try it and report back. Hopefully it works. I don't want to have to install UbuntuGNOME.

[2015-02-24 23:47] gatlinnewhouse commented on #240
"Error creating partitions and their filesystems."
"Gtl-Message: GtkDialog mapped without a transient parent. This is discouraged."

[2015-02-24 23:51] gatlinnewhouse commented on #240
I tried running just "sudo cnchi" and I got this:
"wipefs: error: /dev/sda: probing initialization failed: Device or resource busy"
In addition to the Gtk-Message.

[2015-02-24 23:57] gatlinnewhouse commented on #240
I'll try manually partitioning the drive.

[2015-02-25 00:00] gatlinnewhouse commented on #240
I'm installing UbuntuGNOME for now that way I can be productive on the go. Hopefully you fix this later.

[2015-02-25 02:43] Xarin opened #266 "Cnchi 0.6.44 hangs on formatting"
It happens after I set up all my partitions, and hit next.
Traceback (most recent call last):
  File "/usr/share/cnchi/src/mainwindow.py", line 308, in on_forward_button_clicked
    stored = self.current_page.store_values()
  File "/usr/share/cnchi/src/installation/advanced.py", line 1661, in store_values
    self.create_staged_partitions()
  File "/usr/share/cnchi/src/installation/advanced.py", l

[2015-02-25 02:46] Xarin commented on #266
Seems it does not like you labeling the swap partition.

[2015-02-25 06:01] karasu commented on #266
Thanks for your detailed report. I'll try to fix it asap and get back to you.

[2015-02-25 06:12] karasu commented on #266
You were right. Labeling a swap partition was unsupported.

I've fixed it but I haven't the time to test it, I have to rush to work. If you want to be safe just refrain yourself from labeling a swap partition :grin:

Thanks!

[2015-02-26 04:02] Xarin commented on #266
Haha, thanks for the quick turnaround!

[2015-02-28 20:58] gatlinnewhouse commented on #240
I believe the issues I had are related to this: https://github.com/Antergos/Cnchi/issues/266

[2015-02-28 21:42] indam commented on #240
For me, it is not. I can not format and label the vfat partition. So I
create vfat partition for UEFI in other OS and did not label them. But I
was still frozen at the installing.

On Sat, Feb 28, 2015 at 9:58 PM, Gatlin Newhouse <notifications@github.com>
wrote:

[2015-02-28 22:38] lots0logs commented on #240
The installer will automatically update itself as necessary when the live environment starts. No user action is required. As soon as an internet connection is detected you will see a notification in the top right corner about checking/installing updates for the installer. The installer will be stopped and then once the update has finished, it will restart.  If you have a failed install attempt, yo

[2015-02-28 22:49] indam commented on #240
Yes, I just mounted it as /boot. Then while it is installing, computer froze, just like the photo shows above. So at that time I can not get the log files.
I guess the reason is that, I have 2 disks, one is SSD, for Windows 8. another one is HDD, partly used for installing Linux. The installer can not handle this properly.

I will try the latest version tomorrow, and try to get the log files.
Good

[2015-03-01 02:07] gatlinnewhouse commented on #240
@lots0logs Cnchi Log below for version 0.6.45 automatic installation:

[2015-03-01 02:03:40] [mainwindow.py] INFO: Cnchi installer version 0.6.45
[2015-03-01 02:03:46] [timezone.py] INFO: We have connection. Let's get our timezone
[2015-03-01 02:03:47] [timezone.py] INFO: Timezone detected.
[2015-03-01 02:03:48] [check.py] INFO: We have Internet connection.
[2015-03-01 02:03:48] [check.py] INFO: W

[2015-03-01 02:19] gatlinnewhouse commented on #240
On a manual partition with a GPT table Antergos installed.

[2015-03-01 02:24] lots0logs commented on #240
Thanks for the information. For some reason the installer was unable to remove the existing PV that you had on the drive. We'll do further testing to see if we can reproduce the error.

[2015-03-01 02:27] gatlinnewhouse commented on #240
I'd recommend installing UbuntuGNOME or some other linux distro and then trying to install using Antergos's automatic partitioner. Thanks for working hard on this installer, it's so much easier than command-line installing arch.

[2015-03-01 16:24] karasu commented on #240
I might be wrong, but could it be that @gatlinnewhouse tried installing again after a failed installation without a reboot?

[2015-03-01 16:29] karasu commented on #240
@indam : That should not be a problem at all. I have three hard disks and Antergos installs just fine. I'm more inclined to think that there's something wrong with UEFI handling... It's a pity we can't get those logs. Oh, and I don't get why it freezes while downloading, it's strange to say the least.

[2015-03-01 19:22] indam commented on #240
@lots0logs  @karasu Please check the log file below, this is the most completed log file I can get.
[code]

[2015-03-01 21:28] karasu commented on #240
I don't like this line:
[2015-03-01 21:10:05] [pac.py] ERROR: Can't find a package or group called ''
But computer shouldn't freeze for this! Let me do some tests.

[2015-03-01 22:12] indam commented on #240
I tried again using "sudo -E cnchi -dv", the output is
[code]

[2015-03-01 22:20] indam commented on #240
Frozen like that in the photo, mouse can not move, system moniter froze,
and CPU fan rotating violently.
On Mar 1, 2015 10:28 PM, "karasu" <notifications@github.com> wrote:

[2015-03-02 10:03] karasu opened #267 "package xf86-video-modesetting disappears"
xorg-server 1.17.1 is now available

The new version comes with the following changes:

- Following ustream, xf86-video-modesetting is now provided with xorg-server package.

- These packages are deprecated and moved to AUR, some are replaced by modesetting driver: xf86-video-ast, xf86-video-cirrus, xf86-video-geode, xf86-video-mga, xf86-video-sisimedia, xf86-video-v4l

[2015-03-02 10:04] karasu commented on #267
The hardware module must be updated accordingly.

[2015-03-05 18:59] gatlinnewhouse commented on #240
@karasu Yes I think that's what I did.

[2015-03-05 21:23] ejb1123 opened #268 "install stalled"
the install gets stuck at
`Installing using the 'automatic' method. Please wait...`
I am using  version 0.6.49

[2015-03-06 13:28] karasu commented on #268
Hi @ejb1123 ,

Could you rerun the installer with debug logging enabled?

Just run:

sudo -E cnchi -dv

It will create a log in /tmp/cnchi.log, just post it here.

Thanks!

[2015-03-06 18:31] ejb1123 commented on #268
[code]

[2015-03-06 18:53] karasu commented on #268
Thanks, but it's odd as I don't see any errors ¿?
It seems the auto partition process stops for no apparent reason.
I've just tested now in a VM and works for me.

Are you using an UEFI system? Have you tried the advanced installation?

[2015-03-06 19:04] ejb1123 commented on #268
The machine is a UEFI. I am installing using non UEFI boot from the flash drive. I just did the advance install and from the previous install attempt it made a fat32 efi partition, a swap partition, and what would be "/", with a question mark. Going through the advance installer fixed the issue. I fixed the issue by making the partition table GPT, and making the correct partitions. The label for "

[2015-03-10 18:07] AlexTes opened #270 "Installer slows system until frozen"
I thought I'd found my problem in the issues at least three times, but you guys fix problems pretty quick. I was hoping to use Antergos because I didn't feel like going through installing Arch again now that I need to reinstall, but this is taking way more time anyway, go figure. You have me hooked on your default for gnome as a second to my bspwm however so it's all good.

As described the instal

[2015-03-10 18:50] AlexTes commented on #270
Just like #240 my laptop starts increasing fan speed as if in some sort loop problem.
This time the last thing in the log were circular dependency warnings.
Unlikely to be related though.

[2015-03-10 20:19] AlexTes commented on #270
Also tried letting cnchi do the partition creation. Got all the way to the installer configuring the system!! Last two lines visible read 'creating user...' and '...fingerprint ...' before dying again.

[2015-03-10 20:36] lots0logs commented on #270
First thing I want to mention is that you should reboot your system after a failed attempt to install. Chances are very slim that it will complete on a second attempt without fresh reboot,

Could you post the log? You can find it at `/tmp/cnchi.log`

Thanks!

[2015-03-11 07:14] AlexTes commented on #270
I'm confused. My system freezes. Entirely. It slowly grinds to a complete unresponsive halt. In other words, the only thing I can do after I have this problem is a hard shutdown. Hence my question on how to recover the log. I'm not sure what you mean exactly by reboot. If a hard shutdown and straight boot from the flash drive again qualify as reboot, I have been doing that, its the only thing I ca

[2015-03-11 07:24] lots0logs commented on #270
Can you switch to another VT after it freezes? `Ctrl + Alt + F2`?

[2015-03-11 07:35] AlexTes commented on #270
No, unfortunately not. I don't think it freezes as in really hanging, I thought that at first, but now I often catch it getting slower, the mouse position updating about once every two seconds, until it doesn't at all. I've waited a minute after trying to switch before, but nothing I'm afraid.

[2015-03-11 07:56] AlexTes commented on #270
Tried the VT switch before install to make sure everything works. It does, but it freezes after about a minute. USB flikkers io, fans spin up, system dies. tty2 prints a message though.
`INFO: rcu_preempt detected stalls on CPUs/tasks: { 0} (detected by 2, t=18002 jiffies, g=2903, c=2902, q=629)`
then a hundred seconds later reading from the timestamp:
`INFO: task loop0:175 blocked for more than 1

[2015-03-11 09:13] lots0logs commented on #270
It seems like it has something to do with the USB. Try a different USB and use a different port (one on a separate bus if possible)

[2015-03-11 11:00] AlexTes commented on #270
I am trying two (same model) different USB's. I've already checked the main one I'm using for bad sectors, wiped it completely and it really seems fine. Tried the Arch image because I wondered whether nouveau problems systemd diplays during boot and shutdown had anything to do with it, Arch seems stable but I haven't tried a full Arch install yet, just booting it.

I did just try the antergos cli

[2015-03-11 11:19] AlexTes commented on #270
Making the filesystem with Arch (mkfs.ext4) on the ssd went fine. It's installing the system now, everything fine and dandy. I don't think its the USB. Is there anything I can do to make sure its my system or antergos. I'd like to help. And I'd like your beautifully configured gnome environment as one of my sessions.

[2015-03-11 11:40] AlexTes commented on #270
If it's any help, these are the systemd messages displayed when hanging on shutdown.
[picture of output](http://i.imgur.com/08499rT.jpg)

[2015-03-11 12:47] lots0logs commented on #270
What are your system specs? It could be a kernel bug. Also, are you using advanced mode to create your own partitions? If so, what's the layout (including filesystem types)?

[2015-03-11 16:18] AlexTes commented on #270
Body: Clevo w35xstq_370st
Processor (CPU): Intel® CoreTMi7 Quad Core Mobile Processor i7-4700MQ (2.40GHz) 6MB
Memory (RAM): 8GB SAMSUNG 1600MHz SODIMM DDR3 MEMORY (1 x 8GB)
Graphics Card: NVIDIA® GeForce® GTX 765M - 2.0GB DDR5 Video RAM - DirectX® 11
1st Hard Disk: 120GB KINGSTON V300 SSD, SATA 6 Gb (450MB/R, 450MB/W)
2nd Hard Disk: 1TB SERIAL ATA II 2.5" HARD DRIVE WITH 8MB CACHE (5,400rpm)

It's

[2015-03-11 17:19] lots0logs commented on #270
Hmm..The nouveau driver has been buggy the last few kernel releases. I'm using the nvidia drivers because nouveau wouldnt act right. There's currently no way to switch drivers on the ISO because it would require a reboot and there's no persistent storage for the live system. I'll try to add the nvidia drivers on the iso but I don't know exactly when I will have time to do it.

If you have already

[2015-03-11 19:20] AlexTes commented on #270
Oh gnome starts fine! I don't know how, and why I see messages of nouveau complaining loginctl crashing and then getting a fully functioning graphical system (until it grinds to a halt minutes later). But as Arch also gives me them I don't think those are the problem.

I'm really curious to find what it is thats going wrong, its clearly something to do with my system or others would've complained

[2015-03-11 19:22] AlexTes commented on #270
Got Arch working now. Would love to hear how to get gnome going with the Antergos config!

Feel free to close this issue, it might be a while until I get to backing up arch and playing with Antergos again.

[2015-03-11 19:35] lots0logs commented on #270
Okay, here's what you need...

https://github.com/Antergos/Cnchi/blob/master/scripts/postinstall.sh
https://github.com/Antergos/Cnchi/blob/master/scripts/set-settings

Before you run the script you will need to ensure you have all the packages installed for our gnome setup (the packages listed under `graphical` and `gnome`) in this file:

https://github.com/Antergos/Cnchi/blob/master/data/packages

[2015-03-12 14:37] prescott66 commented on #270
Maybe is arch issue...i get sometimes freezes while using installed antergos. Hdd led glows constantly, mouse cursor is slowed down...

[2015-03-13 08:11] AlexTes commented on #270
Maybe, I'm quite sure I fixed it though! I haven't got the time to nail it down exactly, but changing some BIOS settings to do with USB got me to install without freeze, succeeded twice (wanted to make sure my USB stick wasn't the problem, was testing with roommate's initially) as long as I used the USB port I normally don't test on.

[2015-03-13 08:17] prescott66 commented on #270
what for a settings you have changed in bios?

[2015-03-13 10:27] AlexTes commented on #270
My laptop has two hubs, the one on the left side is USB 2.0, I used that one, Left legacy USB suport on, 3.0 support(XHCI controller support) off, disabled XHCI handoff EHCI handoff and have USB Mass Storage Driver Support enabled to. That last one is needed in any case if you want to install from USB.

I'm not sure which of these settings matter and which don't again I haven't tested, it might ju

[2015-03-13 17:42] lots0logs commented on #270
My best guess is that it occurs with Antergos and not Arch because our live cd runs GNOME while the Arch live cd has no GUI. I'm closing this for the time being. We can revisit later if necessary. Cheers!

[2015-03-13 17:42] #270 closed

[2015-03-23 16:50] I3ck commented on #258
same issue here
both when using the openbox and gnome version (german keyboard settings)

[2015-03-23 16:56] I3ck commented on #253
link not working but I have (maybe) a similar issue:
if having installed with encryption, keyboard input will be ignored when prompted to decrypt.
But if I select the "other antergos" option and simply use the normal one in the new menue, input will work just fine.
I'm using a Logitech K400r as keyboard

[2015-03-23 17:12] karasu commented on #258
That's strange. I use a Spanish layout and works flawlessly here.

OK, as a workaround, create a text file in /etc/X11/xorg.conf.d named 10-keyboard.conf (if you don't have it) and setup your keyboard there. Mine looks like this:

[code]

You must change it to match your layout, of course.

We will do some checks on this asap.

[2015-03-23 18:11] I3ck commented on #258
If I recall correctly, those settings were correct (it read "de" there)
what actually fixed my problem was:
localectl set-keymap de
setxkbmap de

[2015-03-23 18:16] karasu commented on #258
Thanks @I3ck, I'll check our code to see if we're performing those commands (I'm sure about the setxkbmap command but not so sure about the localectl one).

[2015-03-23 20:30] I3ck commented on #258
`setxkbmap de` only worked for the current session,
so I guess the missing other command might be the source of the problem

[2015-03-23 22:47] I3ck commented on #258
still being reset after restart
I'll try to get it fixed tomorrow and report back

[2015-03-24 05:46] #268 closed

[2015-03-24 05:47] #267 closed

[2015-03-24 05:47] #266 closed

[2015-03-24 05:48] lots0logs commented on #265
Are you still experiencing this issue? If so, could you tell me whether or not you installed Antergos under UEFI boot or legacy boot?

[2015-03-24 05:49] #261 closed

[2015-03-24 05:51] #242 closed

[2015-03-24 05:51] #241 closed

[2015-03-24 05:51] #240 closed

[2015-03-24 05:53] lots0logs commented on #232
I am pretty sure this was fixed. If it comes up again we can reopen it.

[2015-03-24 05:53] #232 closed

[2015-03-24 05:53] #226 closed

[2015-03-24 05:59] #215 closed

[2015-03-24 06:00] lots0logs commented on #210
Closing for now. We can reopen if it comes up again.

[2015-03-24 06:00] #210 closed

[2015-03-24 06:01] #198 closed

[2015-03-24 06:01] #188 closed

[2015-03-24 06:01] #182 closed

[2015-03-24 06:02] #171 closed

[2015-03-24 06:02] heavensrevenge commented on #182
Did you implement this @lots0logs ? :)

[2015-03-24 06:03] #154 closed

[2015-03-24 06:04] #137 closed

[2015-03-24 06:05] lots0logs commented on #129
@karasu What's the status of this? Were you able to resolve it?

[2015-03-24 06:06] #122 closed

[2015-03-24 06:07] #120 closed

[2015-03-24 06:07] #121 closed

[2015-03-24 06:09] lots0logs commented on #66
@karasu This has been fixed, right?

[2015-03-24 06:09] #59 closed

[2015-03-24 06:10] #30 closed

[2015-03-24 06:18] lots0logs opened #272 "Don't overwrite existing linux kernels in /boot for UEFI systems."
Simply prevent this from happening for this release. I will work on a proper solution during the 0.9 dev cycle.

[2015-03-24 06:26] lots0logs opened #273 "UI Issues"
- [x] Advanced Install Screen
  - [x]  The mount point check should say /boot (not /boot/efi)
  - [x]  Also the buttons seem oversized. Maybe adjust the styles a bit.
- [x] GTK css styles are not being used. Perhaps the move from src to cnchi caused this.
- [x] BG color of list boxes should be white.
- [x] Header bar bg image is not displayed.
- [x] Header bar on slides screen needs to be styled b

[2015-03-24 06:26] lots0logs opened #274 "Remove CLI, restyle welcome page for only two buttons."

[2015-03-24 06:33] lots0logs commented on #182
@karasu did it actually, it will be in v0.8 which is soon to be the new stable version :smile:

[2015-03-24 06:38] heavensrevenge commented on #182
Well @lots0logs the addition is appreciated regardless of who actually wrote the code, so thank you for this :)

[2015-03-24 07:01] karasu commented on #137
This is still an issue, but to be honest I don't think this is a problem at all. It's only that it goes so fast (for small files) that you can't ever see that it reaches 100%.

[2015-03-24 07:03] karasu commented on #129
Yep, it's working. Problem is that it doesn't go faster than urllib2 (at least on my tests). The code is there and is working.

[2015-03-24 07:03] #129 closed

[2015-03-24 07:15] karasu commented on #66
I have not been able to reproduce it :disappointed:
I'll try again asap.

[2015-03-24 07:19] lots0logs commented on #66
Nah, don't worry about it. With no other reports since it was opened in 2013, I think its safe to say this is no longer an issue :bowtie:

[2015-03-24 07:19] #66 closed

[2015-03-24 09:42] karasu commented on #16
Thinking it over, if you want a password protected system, you can encrypt your system with LUKS (if not, simply booting with an USB will bypass this "protection").
Closing.

[2015-03-24 09:42] #16 closed

[2015-03-24 09:44] karasu commented on #40
EncFS works, but when booting it doesn't load the home partition again... there's some problem in our setup. Leaving for 0.10

[2015-03-24 09:46] karasu commented on #56
Done. Closing.

[2015-03-24 09:46] #56 closed

[2015-03-24 09:49] karasu commented on #139
A lot of debugging messages are going to cnchi.log from pac.py in 0.8, so this will help us debug possible failures. I'll leave this open because I think that the exception handling in pac.py should be improved to catch all this possible errors in a nice way for the user.

[2015-03-24 09:51] karasu commented on #143
I did not implement this as I don't see the usefulness of it. Instead, I prefer a modal window showing that the installation has finished. Go figure.... Anyway, if somebody feels doing it, I'm not against it.

[2015-03-24 10:00] karasu commented on #216
I'm afraid we're no longer maintaining the cli installer. If you have problems with the graphical one please open a new issue.
Thanks!

[2015-03-24 10:00] #216 closed

[2015-03-24 10:02] karasu commented on #218
Our recommendation is simply to reboot to avoid problems after a failed installation. There are cases that root can't be unmounted automatically because there're still processes using it.

[2015-03-24 10:02] #218 closed

[2015-03-24 10:03] karasu commented on #219
We're sorry but we're no longer maintaining the cli version of the installer. If you have any issues using the graphical post please open a new issue.
Thanks!

[2015-03-24 10:03] #219 closed

[2015-03-24 10:48] #221 closed

[2015-03-24 10:55] karasu commented on #253
Please, if you have an usb keyboard at hand try with it instead of the wireless and tell us if it works or not.

It's possible that the needed modules for your wireless keyboard are not loaded in time, they need to be added into makeinitcpio.conf.

Thanks!

[2015-03-24 11:55] I3ck commented on #253
WIRED:
everything working

WIRELESS:
GRUB screen WORKING
`Antergos Linux` option, then entering key NOT-WORKING
`Advanced options for Antergos Linux` => `Antergos Linux` WORKING

so the weird thing is that option #2 works but #1 does not. Although both of them booting into the same version

[2015-03-24 12:01] I3ck opened #275 "Allow different language and keyboard layout combinations"
Currently it's impossible to install Antergos in English, while having a German keyboard layout.

Maybe instead of only showing the fixed options which depend on the selected language,
add a `more` or `other` button which then allows to select any layout.

[2015-03-24 12:05] karasu commented on #275
This is already done in v0.7.x (development), so it will be present in the 0.8 release. :grimacing:

[2015-03-24 12:10] I3ck commented on #275
awesome

[2015-03-24 12:42] I3ck commented on #258
on a side note: could someone unlock me on transifex (I'll delete this comment then)

[2015-03-24 23:45] lots0logs commented on #253
Could you post the contents of `/boot/grub/grub.cfg` please? Thanks!

[2015-03-25 12:07] I3ck commented on #253
I guess you're looking for differences between the two entries
I couldn't find any  except that the sub-menu one is also starting the fallback version
I truncated some data and replaced it with placeholders (each placeholder represents a unique string)
Should I try to boot with the wireless keyboard and look for changes? (I have no idea when the grub file is being generated / updated)
If I left an

[2015-03-25 21:29] karasu commented on #274
I'll do this myself, it should not be that difficult.

[2015-03-25 21:31] karasu commented on #273
"Slides should fill the width of the window."
About this one... I worked a bit to manage that the image was centered. I supose I can have a look at it (I'll check margins in .ui file)

[2015-03-25 21:45] lots0logs commented on #274
Cool, thanks. I am very busy with my job today. Something else I noticed was that the language screen keeps the same subtitle as the welcome screen. It should have its own subtitle like "Choose Your Language" or similar.  I am writing it here so that one of us will remember to do it :smile:

[2015-03-25 21:48] lots0logs commented on #273
Be careful, you know how GTK likes to grow the window without any reason :laughing:

Well, I'm not 100% satisfied with them. I know for sure I dont like them on separate sides. The reason I have them together is to match the numix gtk theme. BUT like I said, I'm not 100% happy with the result. Let me play with it some more in the next day or two!

[2015-03-26 17:37] karasu commented on #274
Hi,
I've made a quick fix. It works, but imho there's too much margin left (the icons appear too near one from another). It's not ugly, but could be better.

I'll close this, as it works, if you have the time to make it pretier (and the will to do it) feel free.

[2015-03-26 17:37] #274 closed

[2015-03-26 21:43] #275 closed

[2015-03-27 11:46] karasu commented on #273
"Slides should fill the width of the window."

I've reduced the space but it's still noticeable. It's fine with me, but maybe for others (like you) is not enough :grin:

[2015-03-28 18:43] karasu commented on #273
By the way, do you think that what remains of this issue is really a release blocker? I think we could release even with this style issues... leave them for 0.10

[2015-03-28 20:55] lots0logs commented on #273
Yeah I think we are just about ready for release. I've started prepping for the new iso build today. There's still a few small things I want to touch up before the release but nothing major.

[2015-04-01 18:09] lots0logs opened #276 "Slideshow does not work if WebKit2 is used in slides.py"
I did a test install on my PC, the slide show did not work. Only a gray screen is shown. The damn log was empty so I have no idea what caused the issue :unamused:

[2015-04-01 18:12] #273 closed

[2015-04-01 18:56] karasu commented on #276
Maybe the webkit change was a bad idea. I ran slides.py and worked for me,
but I didn't perform a full instalation. I'll check it when I get home

El dimecres, 1 abril de 2015, Dustin Falgout <notifications@github.com> va
escriure:

--
Enviat amb el meu Iphone

[2015-04-02 00:26] starks opened #277 "Cnchi should install Grub wherever /boot is for a UEFI install"
I have 2 drives. An HDD and an SSD.

Both / and /boot are set to be on the SSD.

Yet at the bottom of the installer, I still have to manually select the SSD for Grub. It defaulted to the HDD and never updated as I changed my mount points.

[2015-04-03 12:23] karasu commented on #276
Me again. Yep, it's broken in the installer. What I do not get is why it works when testing the screen alone. I'll go back to webkit1 (as I tested it and works) and leave this for 0.10

[2015-04-05 12:27] karasu opened #278 "[Bug] GUI installer (Cnchi) doesn't mount the correct logical volume with LVM if the volume group contains a hyphen"
There is a bug with the GUI installer Cnchi when the target partition is in a LVM. If the physical volume’ name contains ‘-’, it is replaced by ‘- -’ in /dev/mapper, but Cnchi doesn’t handle that.

For example, if I have a physical volume named “laptop-anthony”, with a logicial volume “root”. The volume will be in “/dev/mapper/laptop- -anthony-root”, but Cnchi will try to mount “/dev/mapper/laptop

[2015-04-07 20:24] Davidlinuxx commented on #258
Muchísimas gracias.

2015-03-23 11:50 GMT-05:00 Martin Buck <notifications@github.com>:

[2015-04-10 15:40] karasu commented on #278
More Info:
Yeah sure !
Here is an "incorrect" volume group name:
[code]
Cnchi tries to mount something that does not exist, so the installation fails.

Now with this:
[code]
It works.

Cnchi just has to replace all occurrences of `-` by `--` in the volume groupe name.

[2015-04-10 21:15] Mikaela opened #279 "Automatically offer keyboard layout matching language"
When I choose to install Antergos, I am asked which language I want and I select Finnish.

Later I am asked which keyboard layout I have and I believe it should suggest Finnish to me, because I selected my language as Finnish. However I am suggested USA.

I think that most of users who select X as language will also want X as keyboard layout instead of Y.

Possibly related: https://github.com/Ante

[2015-04-11 11:02] karasu commented on #279
I'll check this out. Thanks for reporting it!

[2015-04-11 11:52] Mikaela commented on #279
Reading the issue tracker more today, it looks like this is possibly duplicate of https://github.com/Antergos/Cnchi/issues/250 ?

[2015-04-11 12:14] karasu commented on #279
It looks alike, yes. I thought slovak was the only case!

Thanks again, I'll keep you posted.

[2015-04-11 18:34] pilppe opened #280 "Keyboard layout that is automatically chosen doesnt work"
This is pretty similar to the issue #279
But this time, my keyboard layout was automatically chosen, but usually when its automatically chosen it should work right? On Cnchi i have to press "Finnish" again for it to work. Last time i installed Antergos it automatically chose Finnish and i was like ok, i immediately pressed Continue and i was wondering why it doesnt work. You have to manually press

[2015-04-11 18:58] karasu commented on #280
Nice catch. I'll check it asap. Thanks!

[2015-04-12 09:27] karasu opened #281 "Fix deprecation warnings (GTK 3.16)"
From language screen:
[code]

From desktop screen:
[code]

From ask screen:
[code]

From automatic screen:
[code]

From slides screen:
[code]

[2015-04-12 14:27] karasu commented on #279
Fixed in 0.9.x

[2015-04-12 14:27] #279 closed

[2015-04-12 14:27] karasu commented on #280
Fixed in 0.9.x

[2015-04-12 14:27] #280 closed

[2015-04-12 14:31] karasu commented on #225
Fixed in 0.8

[2015-04-12 14:31] #225 closed

[2015-04-12 15:29] lots0logs commented on #145
Testing referencing dev repo when fixing bugs. Please disregard.

Fixed in lots0logs/cnchi-dev@1e49c15595b9b31fbc0b8b214b5d54854934f8ba

[2015-04-13 04:48] sinayion opened #282 "Error "can't create download package list""
Cnchi version: 0.8.7-1
Iso: antergos-2015.04.12-x86_64
Region/locale: en-US

After the step with user details, I get the error: "can't create download package list". All optional checkboxes were selected (AUR, Firefox, etc.)

The log shows the following pac errors a few times:
 - "returning error 6 from alpm_db_get_pkg: wrong or NULL argument passed"
 - "returning error 6 from alpm_db_get_group: w

[2015-04-13 06:01] Deevad opened #283 "Antergos Installer - Libreoffice feature is not working"
Cnchi version: 0.8.7
Iso: antergos-minimal-2015.04.12-x86_64
Region/locale: en-US
Keyboard/location : Paris / French alternative
Options : AUR / Printing services
D.E. : tested with KDE and OpenBox

Error message ( weird , because appear in french ):
[Erno 2] Aucun fichier ou dossier de ce type :'/install/etc/X11/xorg.conf.d/10-keyboard.conf'
( mean 'no file or folder found :'/install/etc/X11/xorg

[2015-04-13 06:03] karasu commented on #282
@sinayion , thanks for reporting.
What DE did you choose?
It looks like some package is missing. Maybe you got unlucky and you where using a non updated mirror
If you still have the log, copy it to a gist or pastebin and reference it here please.

[2015-04-13 06:10] sinayion commented on #282
- KDE4
I just noticed that if I install with only Bluetooth Support & Printing Support checked (the defaults), it works. Going to narrow it down to the offending group in a bit.

[2015-04-13 06:13] sinayion commented on #282
Argh, I need to head to bed. But it looks like it's one of:
 - Libreoffice
 - Firefox
 - Extra truetype fonts

[2015-04-13 06:16] karasu commented on #282
Don't worry @sinayion , narrowing to that is going to be very useful, thanks.

[2015-04-13 06:41] karasu commented on #283
Thanks for reporting it.
It seems there are two issues here. We'll leave the language one for later.
We'll get back to you when we have more information.
By the way, did you grab the log from the tmp directory? That would be useful, if not do not worry, we'll try to reproduce the error here.

[2015-04-13 07:30] Deevad commented on #283
Ok, thank you for the fast reply.

Here is the full /tmp/cnchi.log :
http://www.pasteall.org/57815/text

Here is probably the revelant part (missing sed ? ) :
[code]

[2015-04-13 07:46] karasu commented on #283
I've seen there are a LOT of dependency problems in your log. Let me check it.

[2015-04-13 07:54] Deevad commented on #283
Also, it's weird ; I read a lot of ```lib32*``` things in my log ; but I use the ```x86_64``` ISO.

[2015-04-13 08:00] karasu commented on #283
I was wrong, as pacman solves those dependencies. The lib32 is because Cnchi installs some multilib libraries (like lib32-mesa) needed if you run some 32bit apps (mostly games).

[2015-04-13 08:00] jasuka commented on #282
I have the same problem. I chose all packages except simple firewall. Cinnamon as desktop.

cnchi-dev log here: http://pastebin.com/bhZDbqgx

[2015-04-13 08:18] karasu commented on #283
Some things from the log (I'll post them here for future reference, but maybe they're not related to the issue).

`[2015-04-13 10:57:59] [process] WARNING: Couldn't find grub2 bootloader packages!`

[code]

[code]

[code]

[2015-04-13 08:40] robertda commented on #283
Is not possible to downgrade cnchi to 0.6.3?
I have also march minimal iso, but cnchi update to 0.8.0 / 0.8.3 / 0.8.5 / 0.8.7 and all install is affected.
Try to cheat by disable network during setup first steps and re-plugged on package download, by cnchi caught me and download a new faulty version and reload setup.

All package list, sudoers and keyboard errors encountered.

Due to Distrowatch a

[2015-04-13 09:11] Deevad commented on #283
I confirm what @robertda said. I installed Antergos last week on laptop with previous ISO and installer without any issue, and tested many flavors of D.E ; and learnt how to migrate all my 'buntu previous workflow to Arch how-to and wiki method ( lamp server, color calibration, wacom tablet setup, dual screen with nvidia, building high perf vectorisation lib for graphical apps like Krita ).

This

[2015-04-13 09:54] jasuka commented on #282
Did some testing and enabling LibreOffice causes the problem for me.

[2015-04-13 09:55] karasu commented on #282
Thanks. We'll look into it asap.

[2015-04-13 16:56] Deevad commented on #283
Ok, I think this problem is solved with 0.8.11 : I just tested.
Thanks for the hard work.

Now, I only get the missing GRUB at restart ; the minimal ISO propose a dialog to open the Arch GRUB page on wiki at the end ; but with minimal ISO it's hard to work.

[2015-04-13 17:26] roadev commented on #282
Then, for KDE4 only the defaults? (only Bluetooth Support & Printing Support checked)

[2015-04-13 17:33] karasu commented on #282
Hi,

A wrong packages.xml file was being used by the installer. It should be ok now. I'll wait for your confirmation before closing this issue.

[2015-04-13 17:34] karasu commented on #283
The missing Grub is solved in 0.8.12, I think @lots0logs is updating it at this very moment.

[2015-04-13 17:35] karasu commented on #282
Oh, and this is, in fact, a duplicate of issue #283

[2015-04-13 17:57] Jbonnett commented on #283
I am having this issue as well. How could i pull in your latest patch? I have both desktop and minimal usb disks.

[2015-04-13 18:08] pilppe commented on #283
Same issue, resorted to Ubuntu GNOME since i didnt have any OS

[2015-04-13 18:17] karasu commented on #283
@Jbonnett @pilppe : Did you wait for Cnchi to update itself? It has to be, at least, version 0.8.11 (for the grub solution it's, at least, 0.8.15)

We've tested in different computers and is working. Please try it again when you have the time.

[2015-04-13 18:28] Jbonnett commented on #283
Just tried again, same problem. Waited for the update notification and then restarted cnchi, but got the exact same error.

[2015-04-13 18:33] pilppe commented on #283
@karasu i will never leave Glorious Antergos, in the meantime ill wait for the Cnchi to get fixed and ill continue translating Cnchi to Finnish :)

[2015-04-13 18:35] Jbonnett commented on #283
looks like I am running cnchi 0.8.16, from the log

[2015-04-13 18:39] karasu commented on #283
@Jbonnett and @pilppe :That's odd... did you grab the log by any chance? I'll have a look at it. Also, which DE and options did you choose? I do not get it as it's working here... maybe  you're getting an old mirror all the time, dunno.

@pilppe : Thanks for the translations, I know can be tedious sometimes, but I guarantee you that it's greatly appreciated!

[2015-04-13 18:42] pilppe commented on #283
If you want this info, This is how i install:
DE:Cinnamon
BOOTLOADER:Grub2
Options: All of them checked

Also, @karasu sometimes the installer cannot format to EXT4, and some other issues which i will see when i try again tomorrow, the only fix is to manually partition but that usually ends with the same error as this issue

[2015-04-13 18:44] karasu commented on #283
OK, I'll try to check Cinnamon here, maybe that's the problem (I just tested Gnome and Mate, today).

[2015-04-13 18:55] Jbonnett commented on #283
http://slexy.org/view/s2CFDNtzE6
DE: gnome,
features: everything except ufw and firefox
custom partitions, grub on a particular disk

[2015-04-13 19:10] karasu commented on #283
mmmm... it's like is trying to install a package that does not exist. Let me do some tests...

[2015-04-13 19:14] karasu commented on #283
Yep, in Cinnamon, using no extras, works for me. If you want to try again, please unselect all "extras" in the features screen. That should do the trick.

[2015-04-13 19:32] pilppe commented on #283
@karasu I want to use AUR and have printer support

[2015-04-13 19:36] Jbonnett commented on #283
Aur and printer + gnome seems to be installing now?

[2015-04-13 19:36] karasu commented on #283
After doing some tests, it's the libreoffice option that does not work here in Cinnamon. I'll now check all the Gnome options.

[2015-04-13 19:38] karasu commented on #283
OK, Gnome + all options EXCEPT printing support works. Please confirm when you have the time.

[2015-04-13 19:41] karasu commented on #283
Sorry, I meant that Gnome + all options EXCEPT libreoffice works. Please try it again WITHOUT selecting libreoffice when you have the time and report it here.
Thanks for your help!

[2015-04-13 19:50] Jbonnett commented on #283
Finished, worked except bootloader (probably related to my setup, will check and report a ticket if need be)

unrelated but needs fixing: The wiki linkto the bootloader docs ( shown when grub install fails )  redirects to the antergos front page now.

[2015-04-13 19:52] karasu commented on #283
@Jbonnett : Glad it worked! If you have any problems fixing the bootloader please ask in our forum, too. Oh, we'll fix that link asap. Thanks for your patience.

[2015-04-13 20:48] prescott66 opened #284 "Update translation"
Please, update translations from transifex. I still dont see Cnchi v0.8.16 in my language (slovak). i have translated it 100% on transifex.i need to check out translation in real usage. thx

[2015-04-13 20:50] Sqwrly commented on #282
I'm trying to install on a T450S right now and I'm having this issue.

[2015-04-13 20:52] karasu commented on #284
Yep, we know. We will do it tomorrow if nothing else comes up.

[2015-04-13 20:53] karasu commented on #282
Did you choose libreoffice? It's broken atm.

[2015-04-13 20:57] Sqwrly commented on #282
I did, but I took your comment of "It should be ok now." as it being fixed. :) I guess not.

[2015-04-13 20:59] karasu commented on #282
I'm afraid it is not...

El dilluns, 13 abril de 2015, Sqwrly <notifications@github.com> va escriure:

--
Enviat amb el meu Iphone

[2015-04-14 10:37] #283 closed

[2015-04-14 10:39] lots0logs commented on #282
FIxed with 51bb5b54239d54f15b033149a52f4bf3579c6c10

[2015-04-14 10:39] #282 closed

[2015-04-14 10:40] lots0logs commented on #284
This is fixed as of v0.8.17. Let us know if you still have the issue.

[2015-04-14 13:40] pilppe opened #285 "Can't create filesystem ext4"
![screenshot from 2015-04-14 16-37-34](https://cloud.githubusercontent.com/assets/8099538/7137769/a6b7901a-e2c4-11e4-9582-63fda7f3b889.png)
Terminal:
[code]

[2015-04-14 14:07] karasu commented on #285
Are you using UEFI and automatic installation?

[2015-04-14 14:08] pilppe commented on #285
Yes, the only way i can make it to work is manually partitioning, and then the bootloader Grub2 didnt install. Trying with Gummiboot now

[2015-04-14 14:25] pilppe commented on #285
Doesnt work even with Gummiboot. UEFI

[2015-04-14 15:09] karasu commented on #285
You'll have to install grub by hand, I'm afraid.

[2015-04-14 15:56] Mikaela opened #286 "Offline installation"
It would be nice if there was support for offline installation as not everywhere there is fast connection and offline installation and it would also help with these occassional Chchi bugs which prevent installing entirely.

I am not sure on how much space it would take with all the current DEs as option, but at least here most of USB sticks are 8 GB and maybe there could be diferent images for dif

[2015-04-14 18:13] Jbonnett commented on #285
Did you run cnchi twice durring the same boot of the install disk? Cnchi doesn't seem to unmount the /install etc on failure.

[2015-04-14 18:14] Jbonnett commented on #285
(I am also having issues with grub still, haven't had much time to deal with it, seems like maybe using the advanced partitioner and selecting a non default grub install location is failing? Will update once i get a change to run through it again, after work)

[2015-04-14 19:42] karasu commented on #286
Hi Mikaela,

In fact there's been some time we've been preparing for something like this. As it is now, Cnchi can install all packages from the ISO, and only download those that have new versions on our servers.

If you check our latest ISO (not the minimal, of course), you'll see that's bigger than the old ones. That's because it has some xz packages that Cnchi can use :grin:

What we always want

[2015-04-14 19:52] Mikaela commented on #286
So if I unplugged network cable while installing, I would get everything from the iso (no matter what desktop I chose)?

[2015-04-14 20:07] karasu commented on #286
No, not as it is now. It needs the network to check if there are new versions of each package. If not, it will install that one from the ISO.

And in the ISO, I think that only the Gnome packages are left there.

[2015-04-14 20:10] Mikaela commented on #286
But if I booted without network connectivity, it couldn't do that check?

So without connection the only option is Gnome. Is base/terminal still installable though or does it have some packages that aren't included in other options?

[2015-04-14 20:14] karasu commented on #286
Nope, without connection you don't have any option, Cnchi won't work.

I haven't checked base with the new iso, this should be answered by someone else...

[2015-04-14 20:25] prescott66 commented on #284
0.8.21 always in english.sorry...i can create a pull request here at github with my translation.that will be the best way i think...

[2015-04-14 23:50] lots0logs commented on #286
The ISO includes all the packages for a GNOME install. Though all desktops will benefit as the majority of the packages are used regardless of which desktop you choose. You will notice that install time is much faster than it was in prior versions since Cnchi only downloads packages that have newer versions available than what's on the ISO.

[2015-04-14 23:51] lots0logs commented on #284
All translations must be submitted through transifex. See here: http://antergos.com/help-translate-antergos/

[2015-04-15 05:05] karasu commented on #284
@lots0logs : I think @prescott66 already did it, but it's not working. Did you download all translations?

[2015-04-15 05:42] prescott66 commented on #284
You can see that all translation was not merged few months ago to github.only asturian.

[2015-04-15 06:09] pilppe commented on #285
@jbonnett Yes i did run Cnchi twice but the same happened first too, did it to replicate

[2015-04-15 06:19] karasu commented on #284
I think @lots0logs adds all translations to the cnchi package, but I might be wrong.

[2015-04-15 07:46] #284 closed

[2015-04-15 08:30] lots0logs commented on #284
Just to confirm, the translations are pulled from transifex each time the cnchi package is built. The translations shown in github are not used (technically).

[2015-04-15 16:35] karasu opened #290 "LUKS on advanced installation using btrfs on root and home"
Zerqz user from our forum: http://forum.antergos.com/topic/1932/cnchi-luks-on-btrfs-home

While installing and doing manual partitions,
I have a boot partition, / and /home
/ and /home are formatted with btrfs and using LUKs encryption

after entering all user information and clicking next, I’m greeted with
“Antergos Installer - Error
Couldn’t format LUKS device ‘/dev/mapper//h’ with label ‘/home’

[2015-04-17 05:36] sinayion opened #291 "cnchi can't find bluedevil"
cnchi = 0.8.21

Attempted an install with KDE, and all options checked. Log shows that cnchi could not find bluedevil, thus it could not create the download package list.

[2015-04-17 18:12] prescott66 opened #292 "Installer font"
diacritics and special chars are not in your default font, that you use in Cnchi, so this chars are in different "default" font, so strings looks no pretty good.
you should consider to use font with special chars
my lang: slovak (central europe)

[2015-04-17 18:53] lots0logs commented on #292
Actually, the extra characters are available for the font, we just need to add them.

[2015-04-17 19:37] karasu commented on #292
"we just need to add them." How? I don't get this :grimacing:

[2015-04-17 20:13] lots0logs commented on #292
Google fonts include only the Latin Subset by default. For cyrillic characters you must get the Extended Latin Subset instead of the default. (I simply downloaded the font and put it on the ISO..Cnchi doesnt have any part in it)

[2015-04-17 21:12] prescott66 opened #293 "Email client"
In packages.xml is no email client app to install.
Maybe user can select email client in feature tab, or add one for all DE.
i.e. Thunderbird, Evolution, Geary

[2015-04-17 21:17] karasu commented on #292
Thanks!!!!

[2015-04-17 22:43] cathalgarvey opened #294 "Fails with AttributeError after update"
Hi, trying to install Antergos tonight and after cnchi updates I'm getting this error (when I try to launch `cnchi` in Terminal, because it silently fails to launch when I tap icon):

    [antergos@Antergos-ISO ~]$ sudo cnchi
    Can't open /tmp/cnchi.log :  [Errno 13] Permission denied: '/tmp/cnchi.log'
    INFO:root:Using GTK v3.14.6
    INFO:root:Using pyalpm v0.7 as interface to libalpm v9.0.0

[2015-04-17 23:30] lots0logs commented on #294
Hi, unfortunately there were changes in GTK 3.16 that broke backwards compatibility so you will have to use the latest ISO which includes GTK 3.16. Sorry about that! :pensive:

[2015-04-17 23:30] #294 closed

[2015-04-18 10:39] cathalgarvey commented on #294
OK, will do. Can we chalk this up as "Feature request: cnchi should check for breaking updates and not upgrade on such occasions"?

[2015-04-18 12:22] hynner opened #296 "Installation type dialog not working in vmware"
Hello, I downloaded antegros yesterday to try it in virtual machine. After start it downloads cnchi update and launches cnchi automatically, when I select install I get through several steps sucessfully but when I get to Installation type dialog it just doesn't work.

If I select *erase disk and install antegros* it moves on and on the next page it asks me whether I want to continue - If I select

[2015-04-18 16:25] karasu commented on #296
Check that you're using an IDE or SATA virtual disk. (Some users have reported problems when using SCSI emulated disks).

[2015-04-18 16:29] karasu commented on #294
@cathalgarvey : It's not that. The problem is that if we do not update, then odd things can occur when using a new GTK version. On the other hand, if we do, then our installer does not work with old GTK libraries. All of this is because Antergos is rolling release, so we have to keep up with GTK version upstream.

[2015-04-18 16:44] hynner commented on #296
You're right. I was using SCSI disk, which is the default option in vmware player. After changing it to SATA I was able to get on with the installation.

[2015-04-18 17:04] starks opened #297 "GRUB device choice will revert after you edit a partition"
If the intent is to force people to select their GRUB target last, this is not the way to express it.

I've had to cancel about a half dozen installations because I keep forgetting to set the right GRUB device before hitting next.

[2015-04-18 17:10] starks opened #298 "Timezone selection should show the actual time"
Not something 4 hours behind

[2015-04-18 17:16] starks opened #299 "Updater randomly chooses between 0.7 and 0.8 branches"
How do I control which version of cnchi I get?

[2015-04-18 17:36] karasu commented on #298
Can you set an example? (explaining your case). Nobody has complained about this before...

[2015-04-18 17:37] karasu commented on #299
You should always get the latest version, that is 0.8.x (don't remember the last number) but it should be 0.8 definitely.

[2015-04-18 23:34] lots0logs commented on #299
If the updater is unable to successfully update cnchi it will launch the version that is on the ISO. In this case that's the last version from our most recent development cycle 0.7.x (which is equivalent to 0.8.0)

[2015-04-19 04:24] starks commented on #298
I think this might be hardware clock vs UTC issue due to my dual boot with Windows

[2015-04-19 15:44] Toseim commented on #299
tU can try clone the project in you /usr/share and replace the cnchi folder ,and U can get the latest version

[2015-04-19 15:52] Toseim opened #300 "When I download the package, It was stuck"
as Title. It has great chance when I finish all and downloading,it will be stuck.And I don't know how, I have try to install Antergos nearly 20 times.I think cnchi.log is OK.
....sorry for my poor english

[2015-04-19 16:12] lots0logs commented on #300
Hi, if you could post the cnchi.log file here that would be helpful. Thanks!

[2015-04-19 16:16] Toseim commented on #300
OK, Thx, Tomorrow I will post that file

[2015-04-19 19:51] Kirek opened #301 "In minimal installation, /home/USERNAME/.config is owned by root"
Just this, very weird things happen when applications cannot use this directory :)
The only file there is ~/.config/fontconfig/fonts.conf

[2015-04-19 20:54] karasu commented on #299
So... we can assume that is a connection problem? Closing this then.

[2015-04-19 20:54] #299 closed

[2015-04-20 07:42] prescott66 commented on #258
with latest cnchi 0.8.xx is this bug fixed for me...i think it can be closed

[2015-04-20 08:51] karasu commented on #258
We've changed the keyboard selection code... it's nice it's working now. Thanks for reporting it!

[2015-04-20 08:51] #258 closed

[2015-04-20 10:01] I3ck commented on #258
no problem, thanks for fixing it

[2015-04-20 12:29] Toseim commented on #300
I tried to install the system for getting the cnchi.log , but It works,and even faster.First of all Thx.!
But I have something else now, I haved installed twice

[2015-04-21 12:07:50] [chroot] DEBUG: Generating grub configuration file ...
Found theme: /boot/grub/themes/Antergos-Default/theme.txt
Found linux image: /boot/vmlinuz-linux
Found initrd image: /boot/initramfs-linux.img
Found fallback ini

[2015-04-20 21:31] lots0logs opened #302 "Bootloader Installation Failures"
We're not quite there yet but we are close. Let's organize the remaining issues here to make it easier to track them.

- [ ] Add appropriate modules to `/etc/default/grub` (ie: btrfs, lvm, etc) See: https://wiki.archlinux.org/index.php/GRUB#LVM
- [ ] When a separate `/boot` is used, **ext2** is recommended.
- [ ] Check paths for bootloader install commands (see log excerpts below)

[2015-04-20 21:31] lots0logs commented on #302
[code]

[2015-04-21 01:30] kenetik commented on #285
Same issue here.

[2015-04-21 07:21] karasu commented on #300
@Toseim : Which Cnchi version did you use?

[2015-04-21 07:41] karasu commented on #302
"When a separate /boot is used, it must be ext2"

Why? I think that this restriction no longer applies, does it?

[2015-04-21 08:06] wsxy162 opened #303 "misc.has_connection"
try:
        url = 'http://74.125.228.100'
        urllib.request.urlopen(url, timeout=5)
        return True

http://74.125.228.100 seems point to youtube.com ? In china , the government has blocked this IP ,so could we change this url to another one ?

[2015-04-21 08:07] lots0logs commented on #302
Turns out I was wrong. Though, IMO its still the most sane method :bowtie:

[2015-04-21 08:13] cowai commented on #303
I live in Norway and the ip is down for me too, so I couldn't install antergos. Having a backup IP to check with would be a good idea.

[2015-04-21 08:53] Toseim commented on #303
Yes, you can change the url what points to the google, and replace by what you can get access to, and it can work

[2015-04-21 08:54] Toseim commented on #300
0.80.48

[2015-04-21 10:06] Mikaela commented on #302
Where does the ext2 recommendation come to `/boot`? Arch wiki [suggests FAT32 for it.](https://wiki.archlinux.org/index.php/Unified_Extensible_Firmware_Interface#EFI_System_Partition)

[2015-04-21 10:25] karasu commented on #303
That IP is an alternative resource used only when Cnchi can't "talk" with the NetworkManager service. I'll add an option to bypass this to avoid this kind of situations.
Thanks for reporting it!

[2015-04-21 10:27] karasu commented on #300
Even it seems so, the warning "WARNING: While installing boot loader Cnchi encountered this error: Can't convert 'NoneType' object to str implicitly" does not affect Grub installation. You're experiencing another issue.

Please, tell us:
- Are you using UEFI or a BIOS based system?
- Automatic installation or advanced?
- If Automatic, which options did you choose (Luks, lvm, /home) ?

Thanks in ad

[2015-04-21 10:33] lots0logs commented on #302
It comes from experience, I've been a linux user for 12 years now (wow, i'm getting old!) ...But like I said, its only my opinion.

[2015-04-21 12:02] Mikaela commented on #303
I am in (Kotka,) Finland and I am encountering this same issue. Web browser works without issues.

I don't understand why you are testing that YouTube is up. Why to not check something like 8.8.8.8 or 8.8.4.4 which is anycasted and not so depedent on single server? They of course also have censorship issues.

[2015-04-21 14:40] karasu commented on #303
Neither do I :grimacing:  It's nice when once in a while I'm not the one who screws up.
We're back the old method (asking NetworkManager), so in the latest Cnchi release this is no longer a problem. Also a --no-check parameter has been added, just in case, that makes Cnchi continue even if it thinks that no Internet connection is available.
Closing.

[2015-04-21 14:40] #303 closed

[2015-04-21 15:10] Mikaela commented on #303
When will the fix get to repositories or wherever Cnchi uses to update itself? Antergos is again not-installable.

[2015-04-21 15:26] karasu commented on #303
As soon as possible ;)

Meanwhile, if somebody is in need to install, the latest version can be run cloning this github repository. From the ISO, close Cnchi and run this commands from a terminal:
[code]
Cheers!

[2015-04-21 15:55] Mikaela opened #304 "BTRFS Partitioning issues"
I am using MBR and the partitioning wants me to make the following partitions in mount check list before letting me forward:

* `/`
* `/boot`
* `swap`

* [ ] `/` and `/swap` get detected correctly, but `/boot` stays red and claims that it doesn't exist.
* [x] Cnchi doesn't allow you to install grub to partition. Other distributions e.g. Ubuntu do this.
    * https://github.com/Antergos/Cnchi/issue

[2015-04-21 15:57] Toseim commented on #300
OK!
UEFI, Advanced

[2015-04-21 16:23] karasu commented on #304
That's my mistake. As I said, my morning commit needs some testing...

You shouldn't be installing grub into a partition. Read this: https://wiki.archlinux.org/index.php/GRUB#Install_to_partition_or_partitionless_disk

That's totally right. It's a regression and my morning commit is at fault again.

Will repair all this as soon as possible.

Again, thanks for reporting it! This is very helpful.

[2015-04-21 16:28] karasu commented on #304
Oh, I've checked. It does not force to create one, you can continue even if no swap partition is defined.

[2015-04-21 16:39] Mikaela commented on #304
There are some weird cases where it's not possible to install it to anywhere else than partition, for example this laptop and I am still unable to understand why, but as long as it works...

You're welcome, without reports things probably wouldn't ever get fixed.

I wasn't aware of this, because of the `/boot` issue (it's 512 MB and FAT32 by the way). Could it be possible to improve it by having y

[2015-04-21 16:40] karasu commented on #304
Are you using MBR in an UEFI system or a BIOS based one?

You'll have to be more specific.

In a BIOS based one it does not ask for a boot partition, see for yourself:

![no_boot_ok](https://cloud.githubusercontent.com/assets/175797/7257395/b2832058-e855-11e4-8e47-f5735c48d80a.png)

Thanks again.

[2015-04-21 16:42] Mikaela commented on #304
MBR in BIOS system. The BIOS is Phoenix Award something from 2006-01-??.

[2015-04-21 16:47] Mikaela commented on #304
What I see is the following:

![](http://i.imgur.com/nn02KqT.jpg)

I never turned off the PC when I came to report this.

[2015-04-21 16:47] tracphil commented on #286
I agree. Make a check box or something for an offline install, because right now the installer tells me that I don't have a network connection and I clearly do. I can use Chromium to surf the net. I am using the 2015.04.12 and 2015.14.18 iso's.

[2015-04-21 16:50] Mikaela commented on #286
This is https://github.com/Antergos/Cnchi/issues/303 which is fixed and will be auto-updated as soon as possible according to https://github.com/Antergos/Cnchi/issues/303#issuecomment-94838586 where you also find manual git install instructions.

[2015-04-21 19:16] lots0logs commented on #286
Closing this issue as won't fix. See comments from @karasu for explanation.

[2015-04-21 19:16] #286 closed

[2015-04-21 20:41] mariachiac opened #305 "accessibility"
Please make the cnchi installer accessible to the Orca screen reader. It would be a great way for a user who is visually impaired to install an arch system with out to much hassel.
Currrently when antergos is first started alt-f2 has to be pressed then the user has to type Orca when normally super-alt-s can be pressed to turn on the screen reader.
When the installer is launched orca can tab and th

[2015-04-21 22:24] karasu commented on #305
@mariachiac : I'm very interested to achieve this. As I'm no Orca expert I will be bothering you from time to time, I hope you do not mind.

Cheers!

[2015-04-21 23:08] lots0logs opened #307 "Move away from Gtk widgets in favor of HTML5 for all screens (GtkWebview)."
Will update this with tasks once development begins for the 0.11.0 cycle.

[2015-04-22 02:57] mariachiac commented on #305
No worries,
I will be here to help along the way. Smile.

On Tue, Apr 21, 2015 at 03:24:24PM -0700, karasu wrote:

[2015-04-22 07:23] karasu commented on #300
Ok, i will test it and get back to you asap

[2015-04-22 07:56] lots0logs commented on #300
@karasu  I don't think we are checking for mount points like `/var`

[2015-04-22 16:38] karasu opened #308 "Add a LAMP feature"
Be able to install and setup Apache+MariaDB(mysql)+PHP from Cnchi

[2015-04-22 17:25] saikat-sengupta opened #309 "Internet connection not detected during installation from live usb"
I was unable to proceed with installation as Cnchi could not identify the internet connection. I hope the following snapshot will be self explanatory -

![screenshot from 2015-04-22 22-51-50](https://cloud.githubusercontent.com/assets/11479802/7280736/6923754c-e914-11e4-901d-08385576ed9a.png)

[2015-04-22 17:26] saikat-sengupta commented on #309
Linux Antergos-ISO 3.19.3-3-ARCH #1 SMP PREEMPT Wed Apr 8 14:10:00 CEST 2015 x86_64 GNU/Linux

[2015-04-22 17:27] saikat-sengupta commented on #309
You can also notice that the option to close the window is also disabled

[2015-04-22 17:30] lots0logs commented on #309
Hi,

It appears the installer is failing to update. Please close it and run the following command from a terminal:
[code]
Now when you start the installer it should be updated to the latest version. Let us know if you still have trouble.

[2015-04-22 17:30] karasu commented on #309
@lots0logs : Damn! You beat me!

[2015-04-22 17:31] lots0logs commented on #309
:laughing:

[2015-04-22 17:31] Mikaela commented on #308
I would prefer Nginx in place of Apache. Could there be choice for that?

[2015-04-22 17:31] karasu commented on #309
I think that @saikat-sengupta didn't wait for the update to take place, and because of the "Internet" bug" Cnchi can't update itself

[2015-04-22 17:32] lots0logs commented on #308
:+1:  for Nginx...LEMP instead of LAMP has my vote :wink:

[2015-04-22 17:32] saikat-sengupta commented on #309
@karasu I waited till I got the notification saying update is done. And then Cnchi started automatically.

[2015-04-22 17:33] saikat-sengupta commented on #309
@lots0logs I am trying that now. Btw, great job guys :+1:

[2015-04-22 17:35] saikat-sengupta commented on #309
Also getting notification windows repeatedly, is it latest Gnome functionality?? Kinda irritating :-/

[2015-04-22 17:40] karasu commented on #308
Geez... I had my students prepare a python script to install LAMP in a base Antergos install (I'm the teacher so they have to do what I say :grimacing: )
Now, I'll have to work a little bit now to change this to Nginx...

[2015-04-22 17:59] MichaelTunnell commented on #308
Why not both? Apache has merit as well in some usecases. :)

[2015-04-22 18:14] karasu commented on #308
Well... I'll add LAMP as it is already done... Nginx will have to wait a bit more, but it will be done for sure.

[2015-04-22 20:53] #304 closed

[2015-04-23 05:13] mattchewie commented on #301
I have experienced the same when I did a full KDE install. This caused several errors to be thrown on first boot.

Just out of curiosity, did you do a UEFI install with Gummiboot?

[2015-04-23 05:27] mattchewie commented on #301
My GNOME install just finished. I can confirm that the .config in my home directory is correctly owned by the "user". So this looks like it might be an issue tied to non-gnome installs? I will try a XFCE install in a VM tomorrow to see if I get the same outcome as the KDE install.

[2015-04-23 06:45] karasu commented on #301
@lots0logs : If I understand correctly, this is a minimal ISO issue, isn't it? Also KDE installation seems to be affected by this.

[2015-04-23 07:46] saikat-sengupta opened #310 "Cnchi hung hence installation is not completed"
I was trying to install Antergos from a live USB. Even though I performed all the steps properly and got the button "Start installation" but when I clicked that Cnchi became busy. I kept my system on for whole night even then also the same status. I had to terminate the session :-1:

[2015-04-23 11:16] karasu commented on #310
We need the log to see what happened... It's always in /tmp/cnchi.log

[2015-04-23 13:57] kragil commented on #302
When / is btrfs you cannot install because the installer does not recognize the boot partition. Quite annoying.

[2015-04-23 14:18] mattchewie commented on #301
FYI : XFCE install also as the correct permissions

[2015-04-23 14:48] karasu commented on #302
@kragil : It's already fixed. See #304

[2015-04-23 16:41] karasu opened #311 "Installation fails on a touchscreen device"
In cnchi/hardware/etouchscreen.py
the package xinput_calibrator seems to be removed or renamed in the arch repos. Because of that the installation fails on touchscreen devices.

http://forum.antergos.com/topic/1991/installation-fails-on-a-touchscreen-device

[2015-04-23 20:55] karasu commented on #311
xinput_calibrator is from AUR, we should put it in our repo. My mystake.

[2015-04-23 21:03] karasu commented on #311
https://github.com/Antergos/antergos-packages/commit/a31457c896941fc89f4ce2621c4fd8eca9644eee

[2015-04-24 01:05] Toseim commented on #300
But now why the EFI change to the /boot/efi and what should I do to make it pass :)

[2015-04-24 11:19] Mikaela commented on #303
@karasu I am linking people to your previous comment as workaround when asked on IRC. Could you add `--depth=1` to the end of `git clone` line so it won't clone the whole repo and is faster?

`git clone https://github.com/Antergos/cnchi --depth=1`

[2015-04-24 12:08] karasu commented on #303
Done!

[2015-04-24 14:35] kragil commented on #302
OK, cool. Thanks! What do I have to do to get the fix so that I can install on BTRFS with compression, which is really important to me??

[2015-04-24 14:55] Toseim commented on #300
I meaning， what should i do to get a /boot/efi，i already have efi file in my partition sda1.and sda1 has been mounted as /boot? please

[2015-04-24 18:02] lots0logs commented on #302
compression is enabled by default for btrfs partitions :smile:

[2015-04-24 18:02] faridosc opened #312 "Cnchi freezes with Errno 5"
curiously it always freezes while downloading this python package:

[2015-04-24 12:35:58] [slides] INFO: Baixando python2 2.7.9-1 (195/275)…
[2015-04-24 12:37:48] [process] ERROR: [Errno 5] Erro de entrada/saída
[2015-04-24 12:37:48] [process] ERROR: [‘Traceback (most recent call last):\n’, ’ File “/usr/share/cnchi/cnchi/installation/process.py”, line 167, in run\n self.run_installation()\n’, ’ Fi

[2015-04-24 18:05] lots0logs commented on #312
What size was your root partition? It appears to have run out of space.

[2015-04-24 18:12] faridosc opened #313 "[Feature request] Option to install without internet"
It would be great if we could have the option to install system from usb/dvd without the installer downloading all the packages from the internet.

this is very helpful in situations where you are in rural communities or places with slow internet connection.

[2015-04-24 18:13] faridosc commented on #312
it is a 20GB partition. (also chose to format it.)

[2015-04-24 18:16] lots0logs commented on #313
This is a duplicate of #286

[2015-04-24 18:16] #313 closed

[2015-04-24 19:04] #309 closed

[2015-04-24 19:09] karasu commented on #302
@kragil : If  you want to try the latest version see this comment: https://github.com/Antergos/Cnchi/issues/303#issuecomment-94838586

[2015-04-24 19:16] #296 closed

[2015-04-24 19:19] karasu commented on #291
Fixed in commit https://github.com/Antergos/Cnchi/commit/28d15662dd8cf5c95b86137cd20226f80aa2fae2
Thanks for reporting it!

[2015-04-24 19:19] #291 closed

[2015-04-24 19:20] #292 closed

[2015-04-24 19:22] karasu commented on #285
Please, everyone, can you test this again with the latest Cnchi version when you have the time?
- In automatic, the main error shouldn't happen anymore
- In advanced, grub2 and gummiboot should work now
Thanks

[2015-04-24 19:23] karasu commented on #281
All fixed in Cnchi 0.8.68 !

[2015-04-24 19:23] #281 closed

[2015-04-24 19:25] Jbonnett commented on #285
I will try tonight. Last time i tried everything worked except using encryption in advanced mode for /boot

[2015-04-24 22:17] plumpudding commented on #302
#314 should fix luks + gummiboot
just if anyone is searching for the fix

[2015-04-25 11:03] karasu commented on #285
Thanks @Jbonnett, but do not try again as I fear that encryption in /boot will fail again. I need to do some tests on this.

[2015-04-25 11:03] karasu commented on #285
I'm positive this is fixed now. I'll open a new issue with the /boot encryption problem. Closing...

[2015-04-25 11:03] #285 closed

[2015-04-25 11:04] karasu opened #315 "Using encryption in advanced mode for /boot does not work"
Using encryption in advanced mode for /boot does not work

[2015-04-25 11:04] karasu commented on #285
https://github.com/Antergos/Cnchi/issues/315

[2015-04-25 11:05] karasu commented on #315
Reported by @Jbonnett

[2015-04-25 11:12] Mikaela commented on #315
Isn't `/boot` supposed to be unencrypted, so you can decrypt other partitions when you use the device?

[2015-04-25 11:13] karasu commented on #315
Yes ;)

[2015-04-25 11:14] Mikaela commented on #315
I don't probably understand this issue then.

[2015-04-25 11:14] karasu commented on #315
Hahaha... me neither. I posted this here without thinking because an user suggested it. Closing.

[2015-04-25 11:14] #315 closed

[2015-04-26 08:38] plumpudding opened #316 "Gummiboot + Encryption = fail"
see #314
Just wanted to remind you there is that fix. It's getting kinda annoying to always manually clone my fork.

[2015-04-26 08:50] karasu commented on #316
Thanks! We're really busy these days... I'll check this and commit it asap.

[2015-04-26 08:53] karasu commented on #316
Done. Closing this...

[2015-04-26 08:53] #316 closed

[2015-04-26 10:36] #312 closed

[2015-04-26 10:38] lots0logs commented on #300
Sorry for the delay. You should boot your existing EFI partition at `/boot/efi`. Be sure you **DO NOT** choose to "format" that mount point!

[2015-04-28 16:17] Toseim commented on #300
thanks, I haven't found I can type in character. It works, perfect work

[2015-04-28 16:17] #300 closed

[2015-04-29 01:20] lots0logs opened #317 "Advanced Screen UI Bugs"
- [ ] Mount checklist disappears when an extended partition is created.
- [X] Install Now button is too big

![screenshot from 2015-04-29 01-16-40](https://cloud.githubusercontent.com/assets/4675662/7383382/eee35c1c-ee0d-11e4-885c-aa9f9799c38d.png)

[2015-04-29 01:24] lots0logs opened #318 "User Info Screen UI Bugs"
- [ ] Button should be the regular forward icon.

![screenshot from 2015-04-29 01-22-47](https://cloud.githubusercontent.com/assets/4675662/7383411/6f1f2f0a-ee0e-11e4-82ba-941e62a8050a.png)

[2015-04-30 08:34] showcheap opened #319 "Prefer retry than Quit Installer"
I've install antergos yesterday, but it's fail due network problem. And it's say network timeout. I think it's better add feature to try to download again rather than quit the installer and starts installation again.

[2015-04-30 16:28] karasu commented on #317
Delete a partition, root requirement disappears. :cry:

[2015-04-30 19:58] lots0logs commented on #319
By the time you see that message, the installer has already retried downloading the failed packages three times. On the last attempt it also pulls fresh mirror stats from arch to ensure it isnt using any broken mirrors. That being said, we are working on an option that will allow you to restart the process from where it left off for cases where its not a mirror issue but perhaps a local connection

[2015-04-30 20:01] lots0logs commented on #317
I didnt look at that yet. I was working on the Install Now button. I havent tested my latest changes for it. Did it look okay?

[2015-05-01 04:51] showcheap commented on #319
Thanks for your response,
I hope cnchi can be better on the next version.

I've install antergos and failed for more than 10 times.

[2015-05-01 05:07] lots0logs commented on #319
Sorry to hear that! Though there's not much Cnchi can do if you have a bad internet connection :frowning:

[2015-05-01 09:48] cesarcifmetal commented on #318
It still with no forward icon.
![screenshot from 2015-05-01 06-45-19](https://cloud.githubusercontent.com/assets/6477454/7428833/b40b2130-efcd-11e4-8613-f3b181a4453a.png)

[2015-05-01 09:50] showcheap commented on #319
I think my network connection is back, because i've 100% downloading packages. But after finish download, the cnchi show error message like this.

![screenshot from 2015-05-01 04-46-37](https://cloud.githubusercontent.com/assets/1310895/7428796/088ce54c-f021-11e4-9ac1-3113748f73b1.png)

What i've do:
==========
* Download iso 2015.04.12
* Boot antergos live cd
* Update cnchi
* Follow the installat

[2015-05-01 10:15] karasu commented on #319
Please, can you post the FULL log?

[2015-05-01 10:51] lots0logs commented on #318
@cesarcifmetal Thanks for testing it. I'll take another look today.

[2015-05-01 11:26] showcheap commented on #319
This is the last log that i save, i've try many times to install antergos but forgot to save the logs.

What i've do :
===========
* Boot into live cd
* Follow installation step until choose username and computername
* Copy packages that i save from previous install  to pacman cache
* Cnchi error and generate this log. :sweat_smile:
[code]

[2015-05-01 16:20] showcheap opened #320 "Cnchi Not auto detect existing swap partition"
I have swap partition, and cnchi not detect it as swap. I should double click on that partition and click apply to make cnchi set that partition as swap.

![screenshot from 2015-05-01 16-16-39](https://cloud.githubusercontent.com/assets/1310895/7433149/ec092a46-f01d-11e4-9676-a972b6cbc034.png)

[2015-05-01 16:39] karasu commented on #320
Cnchi can't know if a user wants to use an existing swap partition or not, and I do not like the idea of Cnchi using partitions without the knowledge of the user.

Anyway, let's see what other devs think.

[2015-05-01 16:52] cesarcifmetal commented on #318
Now, can't format a labeled partition, and there is the install now buttom, but it has lost all the fields to create the user and pass.
![screenshot from 2015-05-01 16-44-58](https://cloud.githubusercontent.com/assets/6477454/7433527/b3795706-f021-11e4-8400-7bd025a921ad.png)
![screenshot from 2015-05-01 16-46-35](https://cloud.githubusercontent.com/assets/6477454/7433528/b3a1faf8-f021-11e4-82f6-70

[2015-05-01 17:20] lots0logs commented on #320
It's not a good idea to use the same swap partition for multiple installations (whether they be different distros or the same) It can cause problems with hibernate/resume and although its rare, it could also cause problems in your live system.

[2015-05-01 17:24] lots0logs commented on #318
Could you post the log when the blank user info screen appears? Thanks.

[2015-05-01 17:39] karasu commented on #318
@lots0logs : There's a bug in fs_module.py, in create_fs function. It fails when no label is given. I'll fix it asap.

[2015-05-01 17:47] cesarcifmetal commented on #318
@lots0logs : Sorry im too noob to do that on my own, could you tell me how? thanks.

[2015-05-01 18:07] cesarcifmetal commented on #318
@lots0logs : could be this?
 File "/home/antergos/cnchi/cnchi/user_info.py", line 211, in prepare
    self.forward_button.set_label(None)
TypeError: Argument 1 does not allow None as a value

[2015-05-01 18:13] karasu commented on #318
@cesarcifmetal : Yep, I think that's it

[2015-05-01 18:15] cesarcifmetal commented on #318
@karasu Thanks.

[2015-05-01 20:01] cesarcifmetal commented on #318
At the 0.8.88 version, the forward buttom at the user info page is not there again.

[2015-05-01 22:15] karasu commented on #320
Closing, then.

[2015-05-01 22:15] #320 closed

[2015-05-02 06:35] #318 closed

[2015-05-02 12:19] cesarcifmetal commented on #318
@lots0logs take a look on this

[antergos@Antergos-ISO ~]$ sudo pacman -S git
resolving dependencies...
looking for conflicting packages...

Packages (1) git-2.3.7-1

Total Download Size:    4.04 MiB
Total Installed Size:  24.00 MiB
Net Upgrade Size:       0.00 MiB

:: Proceed with installation? [Y/n] y
:: Retrieving packages ...
 git-2.3.7-1-x86_64         4.0 MiB   125K/s 00:33 [################

[2015-05-02 14:54] karasu commented on #318
@cesarcifmetal : thanks. Version 0.8.100 should start fine. I haven't tested @lots0logs changes, though.

[2015-05-02 14:56] karasu opened #321 "os-prober timesout again"
os-prober issues a time out again... I really don't know why.

More info:
https://github.com/Antergos/Cnchi/commit/7ad4f87484e5e612803a1ba62dda136d73d5292e#commitcomment-11011642

[2015-05-02 14:58] karasu commented on #311
It's already in our repository. I do not have a etouchscreen to test this, but I'm positive it's working now.

[2015-05-02 14:58] #311 closed

[2015-05-02 15:00] cesarcifmetal commented on #318
@karasu i will test it now. thanks.

[2015-05-02 15:13] cesarcifmetal commented on #318
@karasu please take a look on this.

[2015-05-02 15:10:52] [cnchi] INFO: Using GTK v3.16.1
[2015-05-02 15:10:52] [cnchi] INFO: Using pyalpm v0.7 as interface to libalpm v9.0.1
[2015-05-02 15:11:35] [updater] INFO: Cnchi Internet version: 0.8.87
[2015-05-02 15:11:35] [main_window] INFO: Cnchi installer version 0.8.100
[2015-05-02 15:11:35] [main_window] DEBUG: Cnchi will use '/var/cache/pacman/pkg'

[2015-05-02 17:06] theking2 opened #322 "Cnchi becomes unresponsive on input method select"
Select English as installation language
Change locale to Dutch (Netherlands)
Attempt to select keyboard layout Switzerland

At this point Cnchi becomes unresponsive.
[code]
pacman-boot.log
[code]
7 8
python: no process found
rm: cannot remove ‘/var/lib/pacman/db.lck’: No such file or directory
[code]

[2015-05-02 17:17] karasu commented on #318
Something is wrong with your installation... check that you have the ui files in /usr/share/cnchi/ui folder.

[2015-05-02 17:23] cesarcifmetal commented on #318
I am trying to install Antergos from a live USB, it is like the 20th time that i try it, i am using the issue 303 to get cnchi running, reboot after reboot the installation is not succeded

[2015-05-02 18:35] theking2 commented on #319
I've attempt to install using cnchi four times in a row now. Every time the download seems to freeze for more that 15-30 min. I assume the servers that are being used become unresponsive after some time.
But I need to guess as there is little or now information to the user. Is it possible to change the server to a more responsive one?

[2015-05-02 17:46:05] [cnchi] INFO: Using GTK v3.16.1
[2015-05

[2015-05-02 18:59] theking2 opened #323 "antergos servers unresponsive"
After a while the servers for me in CHE become unresponsive. After the fifth attempt to install antergos I decide to do a tail -f  /tmp/chchi.log just to see that downloading up and until gnome-documents went fast but after that re repository servers become unresponsive.
Two things are required here
1) an indicator that shows the current download speed.
2) a way to select another mirror when downl

[2015-05-02 19:07] cesarcifmetal commented on #318
@karasu sorry to bother you again, but after cnchi has completed the download of 828 packages, it frozen at loading packages, and just quits.

[2015-05-02 20:28] Eadword opened #324 "Manual Installation /boot/efi"
When on an UEFI system, it requires the /boot/efi partition. I believe that it should say "/boot/efi (fat32)" since it will not accept anything else.

[2015-05-02 22:31] karasu commented on #318
Hi @cesarcifmetal , do not worry, it's not a bother, on the contrary, your comments are very helpful.

Going to bed atm, I will check it tomorrow. Just two things:
- Which DE are you trying to install?
- Are you selecting any features (like firefox, libreoffice, ...)?

If you have the log, post it on pastebin or a similar service and reference it here, please.

[2015-05-02 22:33] karasu commented on #324
Nice suggestion. I'll change it asap. Thanks!

[2015-05-02 23:07] lots0logs commented on #324
@karasu I think it's better to have fat32 be automatically selected when `/boot/efi` mount option is chosen.

[2015-05-02 23:17] Eadword commented on #324
Would that work if it was preformed as, say, ext4 by gparted?

[2015-05-02 23:36] cesarcifmetal commented on #318
@karasu Thanks, well am trying to install the Gnome version, just with the printer services and AUR.

I think this may be a log

http://pastebin.com/4u3C9UTy

[2015-05-02 23:54] lots0logs commented on #324
Yes, but it would have to be formatted again. Though that's not a problem because if it was an existing EFI partition that the user wanted to keep it would already be fat32 (All EFI partitions are fat32, which is the only option the spec allows)

[2015-05-03 00:38] karasu commented on #318
@cesarcifmetal
- It's better to reboot after a failed installation, do it before retrying.
- There's a bad download in your package cache. If I understood right and you're running from an USB, Cnchi is trying to use the packages from the previous tries, and there is one package that is not valid (I would guess that is not fully downloaded).

From your log:
[code]

Please, reboot your computer and

[2015-05-03 00:46] cesarcifmetal commented on #318
@karasu ok, will see.
Im using the 0.8.100 version of cnchi, from github.

Thanks to you.
Will got out of internet connection soon, hope to test it and obtain a positive installation.

[2015-05-03 01:16] cesarcifmetal commented on #318
@karasu Still unable to install.

[2015-05-03 02:10] lots0logs commented on #319
It should not have hung, there should have been an error shown that the install failed. The installer gets a fresh copy of the mirrorlist form arch when it starts. It then chooses 20 mirrors based on the length of time since the mirror last synced with Arch's server and the mirrors performance (speed and responsiveness while sending/receiving data to/from your system). Cnchi downloads all the pack

[2015-05-03 03:08] showcheap commented on #319
Also make cnchi retry to download http://install.antergos.com/packages-{version}.xml if timeout. I got this problem yesterday and download it manual by chromium and run cnchi with `-p` options.

[2015-05-03 04:01] showcheap commented on #302
Cnchi fail install grub on my laptop with ubuntu os preinstalled before. I want dual boot with ubuntu, but after install and reboot, just show ubuntu grub.

And finaly i update grub manually to use Antergoos Grub

[2015-05-03 05:27] lots0logs commented on #319
There's no need. The package list is only referenced one time. Its not needed again. If for some reason Cnchi cant download the file it will use the local copy which is, actually the same file as the one on the server (ever since the new update process we don't technically need to download a copy form the server anymore)

[2015-05-03 13:03] showcheap commented on #319
But yesterday, i'm got problem, cnchi timeout to download package list and cnchi show error message to quit installer. (i forgot to catch the log)

When i'm see the log, it show cnchi error on python script, blablabla.py on line xxx and then i open that file and see the line of code to download with that url.

so, i download it manualy by chromium and run cnchi with `-p downloadedpackages.xml`

[2015-05-03 17:01] karasu commented on #321
Now it's working. Geez...

[2015-05-03 19:12] #297 closed

[2015-05-04 01:13] mitchtbaum commented on #293
[Claws](http://claws-mail.org/) has worked well for me for about a year.  I found that it looks great after installing a nicer theme, changing a few settings, and switching to a nicer font.  By default, it looks okay and works very well.

[2015-05-04 12:17] cesarcifmetal commented on #318
@lots0logs @karasu Hello again, here is another log.
http://pastebin.com/j707C4dz

[2015-05-04 14:22] kragil commented on #302
OK, now when you update Cnchi setting up a btrfs root partition works. /boot is still needed though.
Compression is not default for BtrFS AFAICS.

[2015-05-04 16:08] karasu commented on #321
And now it is not! Facing this now in a VM with two harddisks, installing from sda to sdb (whole disk installation). It freezes when trying to install the bootloader.

[2015-05-04 16:36] karasu commented on #302
@showcheap , @kragil : There's something wrong with os-prober (or at least is not working here).
https://github.com/Antergos/Cnchi/issues/321
Oh, latest version shows /boot label (in green) when there is a /boot partition present, but is not mandatory at all (at least in a non UEFI system).

[2015-05-04 16:42] karasu commented on #321
@lots0logs : By the way, ten minutes for a time out seems a bit overkill :laughing:

[2015-05-04 16:46] karasu commented on #318
@cesarcifmetal : I'm terribly sorry, you got me in the middle of an update and I had to left it as it was (I was at work). It should be working now... (I have tested it here, and works, but I'm still facing some kind of problem with os-prober when running grub-mkconfig, in the end of the installation). If this happens to you, just wait until Cnchi times out. Everything will be find, but you'll hav

[2015-05-04 20:02] lots0logs commented on #302
Check `/etc/fstab`, it should be enabled. If its not, post the line for your btrfs partition here. Thanks.

[2015-05-04 20:10] lots0logs commented on #321
Actually, it may not be overkill. A user reported that os-prober does usually complete if given enough time to do so. They said the same bug is found on Debian Testing but within 5-10 minutes the process exits and everything is fine. I, myself never had the patience to wait and see if it does eventually exit. :laughing:

[2015-05-04 20:14] karasu commented on #321
Hahaha... so I'm a guinea pig!  :laughing:

Well, now we know it really exists.

[2015-05-04 20:24] plumpudding opened #325 "Add a selection what programs to install for each de"
I don't want to install all the Gnome applications for example. So I'd like to be able to deselect some of them when I choose the de

[2015-05-04 20:30] lots0logs commented on #321
So the 10 minutes is not overkill then? hahaha

[2015-05-04 20:32] lots0logs commented on #325
Hi, this is not something that is inline with the goals of Antergos. It would over complicate the installation process. If an advanced user wishes to control their package selection, they should choose the base install and go from there. Sorry!

[2015-05-04 20:32] #325 closed

[2015-05-05 23:05] mitchtbaum commented on #80
How about instead of ```is connected to the Internet```, changing to something along the lines of ```can reach network package server```?

A user on IRC reported his installation haled during this check because Cnchi failed to recognize his active connection, seen here: http://i.imgur.com/mFTLQK1.png

I believe this happened because ```has_connection()```'s testing ```url``` machine was/is down, a

[2015-05-08 02:13] cesarcifmetal commented on #318
@lots0logs @karasu Finally, i've got installed correctly. Thanks a lot!!

[2015-05-08 06:01] karasu commented on #318
@cesarcifmetal : Wow! I'm sorry about the difficulties... and you're welcome!

[2015-05-08 16:30] mdickie opened #326 "[minimal] Network manager does not request wifi password"
Trying to choose a network but network manager doesn't seem to request password.

[2015-05-08 16:34] karasu commented on #326
Which ISO did you use? (minimal or standard, and date, please).

[2015-05-08 16:41] mdickie commented on #326
Minimal

[2015-05-08 16:41] mdickie commented on #326
Yesterday

[2015-05-08 17:43] mdickie opened #327 "Error Log on Failure"
Just interested is it possible to retrieve an Error Log on Failure? I had an installation error (minimal iso) but i couldn't remember it.

[2015-05-08 20:09] karasu commented on #327
Of course, you have it in /tmp/cnchi.log (or if it managed to start installation, in your destination /var/log/cnchi-date.log)

[2015-05-08 20:29] mdickie commented on #327
I apologize but I don't have it.

[2015-05-09 10:05] mdickie commented on #327
Now I took the live is and it works.

[2015-05-09 10:06] mdickie commented on #326
Live iso just works.

[2015-05-09 10:43] robertda opened #328 "Chromium is also installed when selecting Firefox"
Since 0.8.100 (0.8.70 does not have that issue), Cnchi installer download and install Chromium too for Firefox scheme install. Same error on 0.8.15 too.

![rsz_screenshot_from_2015-05-09_13-22-05](https://cloud.githubusercontent.com/assets/11921426/7549837/4ef3e6d0-f651-11e4-9b5f-02b8bb8efc94.jpg)

![rsz_screenshot_from_2015-05-09_13-32-18](https://cloud.githubusercontent.com/assets/11921426/75498

[2015-05-09 10:51] karasu commented on #328
Thanks for warning us. We will check this as soon as possible and get back to you.

Cheers!

[2015-05-09 10:54] karasu commented on #327
Glad to hear it. Closing...

[2015-05-09 10:54] #327 closed

[2015-05-09 10:54] robertda commented on #328
Weird! Chromium is not installed after all, just chromium-pepper-flash, package required by chromium.

![rsz_screenshot_2015-05-09_13-53-03](https://cloud.githubusercontent.com/assets/11921426/7549885/dfc113b2-f652-11e4-9c27-6a6936aa2678.jpg)

[2015-05-09 10:59] karasu commented on #328
It looks like some dependency issue. I think we're installing chromium-pepper-flash by error. Thanks again for sharing this.

[2015-05-10 17:48] karasu commented on #310
I'll close this as I guess this was a mirror issue. I will reopen it if @saikat-sengupta gives more information.

[2015-05-10 17:48] #310 closed

[2015-05-10 17:53] karasu commented on #322
Sorry, can't reproduce it here. Can you test it with the latest release?

[2015-05-10 17:58] karasu commented on #323
We've coded a new way of downloading the packages, that will help a bit (will show the download speed) in our development version (not yet released).
To select another mirror you can edit /etc/pacman.d/mirrorlist and /etc/pacman.d/antergos-mirrorlist by hand. Anyway, we can't do a lot when the mirrors do not answer or are not up to date.

Cnchi tries up to five different mirrors, if none of them w

[2015-05-10 18:00] karasu commented on #324
@lots0logs : So, what do we do? We need to change something or not? ;)

[2015-05-10 18:02] karasu commented on #290
If the user does not put any label in the LUKs encrypted drive works.

[2015-05-10 19:30] lots0logs commented on #324
Make it so that selection of `/boot` as the mountpoint automatically selects `fat32` for the filesystem type  (for uefi systems only)

[2015-05-11 00:41] axaxs commented on #278
I think I've fixed this, could use another set of eyes.

[2015-05-11 01:01] axaxs commented on #301
This has been fixed in dev, not sure on policy on closing/commenting/testing so just leaving a comment here.

[2015-05-11 01:06] axaxs commented on #293
This is a tough one.  At home I use no email client, I imagine the vast majority do not with the prevalence of webmail accounts and interfaces.  At work I used thunderbird, lightning, and the ews calendar provider.  Meaning, I think this could easily become a rathole.  Some want evolution, but do we give them evolution-ews?  If thunderbird, does lightning come with it?  Which language packs?   I'm

[2015-05-11 01:41] axaxs commented on #326
This used to be caused by gnome-keyring not being installed.  Are we not including it in minimal?

[2015-05-11 03:07] lots0logs commented on #301
We need to backport the fix into stable.

[2015-05-11 03:08] lots0logs commented on #293
I agree @axaxs !

[2015-05-11 03:09] lots0logs commented on #326
This should be fixed in the latest testing builds. I'd like to do a iso release as soon as we can verify the images are working properly. Especially GNOME screen locking.

[2015-05-11 04:36] Mikaela commented on #293
I never learned to use Evolution, but Thunderbird is nice and I would request Enigmail (GPG-support) to be shipped with it if possible.

[2015-05-11 04:50] axaxs commented on #293
Well, I agree that Thunderbird is nicer than Evolution, which is full of bugs and untested.  Seriously, I used 3.16 for a stint and there are no less than 4 bugs that can occur everyday that could make it crash! But enough Evolution bashing - I respect your choice to use Thunderbird with GPG, but don't understand why this should be added to the installer.  I'm still convinced most users don't use

[2015-05-11 05:13] Mikaela commented on #293
It's just assumption about Antergos not being so much for normal user and someone using Antergos being subscribed to some mailing lists, maybe Arch Security or something and messages on those being usually signed and even if you didn't use PGP, Enigmail could check the signatures.

[2015-05-11 05:59] lots0logs commented on #293
I don't doubt that there are users out there who still use desktop e-mail clients today. However, that does not warrant adding an e-mail client to the default installation nor as a feature that can be enabled/disabled. Our package selection is minimal, by design. It provides only the necessities. We must give careful consideration to all feature requests as we do not want to end up in ***feature c

[2015-05-11 14:54] karasu commented on #293
@prescott66 and @Mikaela : I'm afraid I'm with the others in this one. Most of current users do not use any desktop mail client, and the ones that use them know very well how to install them.

Oh, and the features screen is already crowded as it is, imho.

Having said that, as @lots0logs said, thanks for your suggestion!

[2015-05-11 14:54] #293 closed

[2015-05-13 05:26] axaxs commented on #317
Was this fixed?  If not, can someone explain what remains?  I'm still pretty familiar with the advanced logic, hopefully I can take a look soon.

[2015-05-13 05:28] axaxs commented on #308
Is this going to be on features screen?  Seems it should be asked on base installs ( or if we ever have some server centric install).  And of course, +1 for Nginx over Apache :p.

[2015-05-13 07:09] karasu commented on #308
@axaxs : The idea is to add it in the features screen, yes. Maybe we can show it only if base install is chosen, I haven't decided anything yet.

[2015-05-13 07:10] karasu commented on #317
Most of them. I do not recall fixing "Mount checklist disappears when an extended partition is created", though.

[2015-05-13 08:12] prescott66 opened #330 "Not translatable "Save" button"
In create user slide is in top right corner "Save" button, which i am not able to translate, so it is in english always.

[2015-05-13 09:28] karasu commented on #330
Transifex has not been updated yet. Will do it asap. Thanks for the warning!

El dimecres, 13 de maig de 2015, Dušan Kazik <notifications@github.com> va
escriure:

--
Enviat amb el meu Iphone

[2015-05-13 09:31] prescott66 commented on #330
You are welcome

[2015-05-14 10:51] erikdubois commented on #279
During installation I tend to choose for bare installation. Then choose English Uk as language and Belgium as keyboard BUT I end up in QWERTY.

The whole country works with AZERTY keyboards.

Extra actions for users now:
sudo loadkey be-latin1    in order to have azerty KEYBOARD
We change also the following file to make it permanent
sudo nano /etc/vconsole.conf
We change our keyboard from "be"  to

[2015-05-14 13:32] Mikaela commented on #279
@erikdubois I think you should open a new issue about this.

[2015-05-14 13:42] erikdubois commented on #279
opening a new issue now

[2015-05-14 13:43] erikdubois opened #331 "Keyboard for Belgium should be be-latin1 not be"
During installation I tend to choose for bare installation. Then choose English Uk as language and Belgium as keyboard BUT I end up in QWERTY.

The whole country works with AZERTY keyboards.

Extra actions for users now:
sudo loadkey be-latin1 in order to have azerty KEYBOARD
We change also the following file to make it permanent
sudo nano /etc/vconsole.conf
We change our keyboard from "be" to "be

[2015-05-14 13:53] Mikaela commented on #279
https://github.com/Antergos/Cnchi/issues/331

[2015-05-14 14:09] erikdubois commented on #301
i can confirm that as of today the bare installation STILL SUFFERS from the fact that .config is owned by ROOT. Users get error messages thrown by Spotify. Each time re-login. Variety wallpapers settings. Thunar Settings... etc. Any program that wants to write there, will sometimes give an error or just nothing but all your settings are not saved.

[2015-05-14 14:28] erikdubois opened #332 "No Internet after bare installation"
Cnchi installs perfectly. Ethernet Controller functions fine and downloads come in. Then you reboot.

After bare installation there is no internet available but drivers are working.
After  the following lines everything works fine :
sudo systemctl enable dhcpcd
sudo systemctl start dhcpcd

If it is an issue of choice.

Could you give the choice in inxi in the installation screens. If not provide t

[2015-05-14 15:15] Mikaela commented on #332
I believe the base installation assumes that the user wishes to make the choice how to setup networking by themseles and I think it should be that way. Installing some DE has networking.

From the options listed, my favourite is [systemd-networkd](https://wiki.archlinux.org/index.php/Systemd-networkd).

[2015-05-14 15:25] erikdubois commented on #332
my favourite too but how about a line in the installer so you know you will have to do that.

[2015-05-14 15:34] erikdubois opened #333 "Cnchi will not start after updating"
Cnchi gives message that it has been updated but will not start on its own.
Pressing the icon does not start the program.

I am installing now and did the following

Opened a terminal and typed
sudo pacman -S cnchi
sudo cnchi

Then the startup screen was there and did a bare installation.

Version 0,8,118 is now installing.

Tried installing on a different pc and results is the same issue. Cnchi w

[2015-05-14 15:44] Mikaela commented on #332
That could work. "Please note that networking is not automatically set up with base installation" or something.

[2015-05-14 15:51] erikdubois commented on #332
great

[2015-05-14 19:22] erikdubois commented on #333
second try instead of using the above method went looking for cnchi
cnchi-dev
cp:  cannot stat '/usr/share/cnchi/scripts/testing.sh' no such file or directory
chmod : cannot access '/tmp/testing.sh'

works again like a charm once i did the above described procedure
this time around installing cinnamon - will check if there is a keyboard issue here like on the bare installation.

[2015-05-16 21:11] Wyn10 opened #336 "If plasma and bluetooth is selected bluedevil is conflicted."
bluedevil4 and bluedevil are in conflict if plasma is selected.  bluedevil4 for kde4 and bluedevil for plasma.

[2015-05-16 22:04] lots0logs commented on #336
Are you sure? That should not pose a problem. Could you provide the log?

[2015-05-16 23:27] Wyn10 commented on #336
@lots0logs

https://gist.githubusercontent.com/Wyn10/c532fe17c4b41c5bdb54/raw/gistfile1.txt

Also stated here: https://wiki.archlinux.org/index.php/Bluetooth#BlueDevil

[2015-05-16 23:51] #336 closed

[2015-05-17 15:35] hypn0s opened #341 "Cannot perform Choose exactly where Antergos should be installed"
Hello,

I'm just installing my new machine but I cannot perform and advanced install. When I select "Choose exactly where Antergos should be installed", the following error appears:
[code]

I have two disks I want to use for separated partitions so this feature would be really helpful.

EDIT:
Antergos versions:
[code]

[2015-05-17 16:28] karasu commented on #341
@hypn0s : Not sure what is wrong here. Can you try again with the latest version?  (0.8.132)

[2015-05-17 16:51] hypn0s commented on #341
Thank's, that worked :-)
Antergos install in progress ;-)

[2015-05-17 16:51] #341 closed

[2015-05-17 16:52] hypn0s commented on #341
Thank's, it worked :-)

[2015-05-17 19:22] karasu commented on #341
Thanks for reporting it! (you can close it yourself, no problem.)

[2015-05-18 08:31] karasu commented on #301
@lots0logs : Has this been solved in stable?

[2015-05-18 09:37] erikdubois commented on #333
working on the iso from sourcforge of 20150516
there cnchi 0.8.118 works fine

[2015-05-18 09:40] erikdubois commented on #301
just tried the latest iso 20150516 this has still this issue!

[2015-05-19 03:13] ianks commented on #333
Same issue here.

[2015-05-19 07:27] prescott66 opened #342 "Buttons alligment on welcome slide"
While using slovak language of cnchi, i get this bad alligment on welcome screen - because description text above Install button ist little bit longer in our language :smile:
![snimka obrazovky z 2015-05-19 09-22-36](https://cloud.githubusercontent.com/assets/735265/7697577/3a48c34e-fe09-11e4-81a4-edbb4803d99d.png)

[2015-05-19 10:18] karasu commented on #145
Closing this. If it's reported again we can reopen it.

[2015-05-19 10:18] #145 closed

[2015-05-19 10:24] karasu commented on #298
@starks: I'll close this as I think it's more a BIOS problem (or Linux) than Cnchi's. Reopen it if you prove me wrong.

[2015-05-19 10:25] karasu commented on #301
Fixed in postinstall.sh. Closing!

[2015-05-19 10:25] #301 closed

[2015-05-19 10:28] karasu commented on #302
I'll close this as we think all this is os-prober fault. :laughing:
@kragil : About BTRFS not being compressed by default, open a new issue if you can confirm this is truly happening.

[2015-05-19 10:28] #302 closed

[2015-05-19 10:44] karasu opened #344 "Grub gets always installed in automatic install (even when is deselected)"
Grub gets always installed in automatic install (even when is deselected)

[2015-05-20 00:29] lots0logs opened #345 "Slides screen increases the window height."
I think this is caused by the progress bars. The documentation says that the progress text should appear within the trough. With cnchi, the text is appearing on top of the trough.

[2015-05-20 00:48] lots0logs opened #346 "grub-install failure is not detected"
I was not using GPT partitions for this test so I am not sure what grub-install is talking about. HOWEVER, we need to catch failures like this regardless.
[code]

[2015-05-20 06:40] Shanoes opened #347 "process.py Can't convert bool object to str implicitly"
Error raised as post installation scripts run. Should this...
[code]
be this instead?
[code]

[2015-05-20 08:32] karasu commented on #347
@Shanoes : Thanks. It will solve the python issue, I'm not sure about the script because it's @lots.0.logs work :grin:

I'll leave this to him

[2015-05-20 09:37] lots0logs commented on #347
I wasn't sure how it would behave and didn't have time to test it :grimacing: I'll take care of it!

[2015-05-20 09:42] #347 closed

[2015-05-21 20:51] karasu commented on #80
Now, even when Cnchi "thinks" there is no connection, the user will be able to go on.

Cnchi asks Networkmanager if there is a connection, but as sometimes this does not work, like in Virtualbox (don't ask me why), then it also searches for a well known ip.

If these two tests fail, Cnchi shows the "can't connect to the internet" but the user is able to go on.

I'll close this ( @mitchtbaum if you

[2015-05-21 20:51] #80 closed

[2015-05-21 21:30] andrewbates09 commented on #332
:+1: Having an option of networking tools out of the gate would be fantastic, as @erikdubois mentioned - at the very least a, "BTW refer to [ArchWiki](https://wiki.archlinux.org/index.php/Network_configuration) to get going on new installation," in the installer would be helpful.

To be fair, it probably only took 20 seconds to figure that out once I had installed Antergos Base.  I just came acros

[2015-05-22 08:52] karasu opened #348 "Alert the user that using LUKS deletes whatever is on that partition in advanced"
Alert the user that using LUKS deletes whatever is on that partition in advanced mode

[2015-05-22 21:40] lots0logs commented on #345
After further investigation, there is no issue with the progress bars. The text is no longer displayed within the bar itself by design in 3.16.

[2015-05-24 15:51] karasu commented on #348
https://github.com/lots0logs/cnchi-dev/commit/f302349277aac80aab0904e592f8972481df4cd8

[2015-05-24 15:51] #348 closed

[2015-05-24 15:53] karasu commented on #344
https://github.com/lots0logs/cnchi-dev/commit/bed56ec837b1fc9c755f8677b11a56e3483bdb4e

[2015-05-24 15:53] #344 closed

[2015-05-27 05:50] karasu opened #349 "Use systemd-networkd in base install"
systemd-networkd is a system daemon that manages network configuration. It detects and configures network devices as they appear, as well as creates virtual network devices. This service can especially be very useful to setup basic or more complex network settings for a container managed by systemd-nspawn such as VMs or containers. Again, but also works fine on simple connections.

[1] https://wik

[2015-05-27 05:58] Mikaela commented on #349
What is wrong with `systemd-networkd` which seems more simple to me?

[2015-05-27 06:11] karasu commented on #349
OK,  I've readed positive comments about systemd-networkd

I will change this issue... ;)

Thanks for sharing your thoughts!

[2015-05-27 06:30] Mikaela commented on #349
https://github.com/Antergos/Cnchi/issues/332 is probably also relevant issue.

[2015-05-27 10:26] prescott66 opened #350 "gutenprint package"
idea to add gutenprint package to be preinstalled?

[2015-05-27 17:34] plumpudding opened #351 "Gummiboot + Encryption broken again"
I will take a look as soon as I have time
Just wanted to let you know
I don't have an exact crashlog, I just remember the log said something like "cryptAntergos" found but int required.

[2015-05-27 21:35] lots0logs commented on #350
We removed gutenprint because some users reported that it prevented them from being able to set up their printers. Are you saying that you actually need it before you can successfully set up your printer?

[2015-05-28 06:34] prescott66 commented on #350
Yes. My canon mg2500 series dont work without gutenprint.

[2015-05-28 18:43] plumpudding commented on #351
now tested a bit more

didn't work on my laptop, desktop and a vm (on which I'm testing atm

[2015-05-28 18:50] plumpudding commented on #333
this seems to be a pretty serious issue concerning the iso though. I noticed running "pacman -S cnchi" manually is enough to get it running. I also noticed pacman asks ":: python-parted and pyparted are in conflict. Remove pyparted? [y/N]", which is probably the reason for the update failing.

[2015-05-28 18:54] karasu commented on #351
Thanks for the warnings, we will check this asap

About the code, yes, you can write whatever you want, then we will adapt it if necessary.

Cheers!

[2015-05-28 18:57] karasu commented on #333
That's pretty much my fault. I renamed the package without warning  @lots0logs , who always takes care of the iso.

Let's wait until he finds the time to fix this (or tells me what I have to do to fix it).

[2015-05-28 19:25] plumpudding commented on #333
So this is fixed in newer isos? Is @lots0logs informed now?

[2015-05-28 19:56] lots0logs commented on #333
This is fixed in the images that are available on the build server. The images on the main download page will be replaced ASAP. Cheers!

[2015-05-28 20:28] plumpudding commented on #351
as far as I've looked into this the problem could be [here] (https://github.com/Antergos/Cnchi/blob/master/cnchi/installation/process.py#L781)

[2015-05-28 23:48] pldubouilh opened #352 "Installation with LUKS not terminating properly / GRUB_ENABLE_CRYPTODISK not set"
Last update of Cnchi doesn't work with LUKS encrypted parts, the parameter `GRUB_ENABLE_CRYPTODISK` is not set, and grub will throw an error, saying that it requires the parameter to be set `=1`. It's actually not working (see here > http://savannah.gnu.org/bugs/?41524), but setting it to `=y` solved it... Appending this to /etc/default/grub fixed the issue.

Should be quickly resolved implementin

[2015-05-29 01:06] sudoaza opened #353 "no internet connection bug"
on has_connection at cnchi/misc/misc.py +886 the ip didn't work, tryed google dns and also didn't work. finally replaced it by http://somestaticsite.com and it showed me as connected and let me install.

Being that this distro aims to be accesible for newbie users the installer should work :P

Using antergos-2015.04.12-x86_64.torrent

[2015-05-29 06:23] Mikaela commented on #353
Duplicate of https://github.com/Antergos/Cnchi/issues/303 which is fixed, but Cnchi is not updating automatically for some reason.

Wrong, the *for anyone* is misleading and more accurate is said to be *for anyone who is committed to Arch*.

[2015-05-29 06:38] sudoaza commented on #353
ok, sorry

[2015-05-29 06:45] #353 closed

[2015-05-29 16:14] karasu commented on #352
Will do! Thanks!

[2015-05-29 18:20] karasu commented on #352
https://github.com/lots0logs/cnchi-dev/commit/a06904ce5d7a02753f9b56c27c9abe1154daf13e

[2015-05-29 18:20] #352 closed

[2015-05-29 19:30] lots0logs commented on #351
:triumph: haha it works. you see what I did @karasu?

I am reopening this ticket, the above was just a test for something not directly related to this ticket.

[2015-05-29 19:47] karasu opened #354 "grub-mkconfig hangs up (timeout) in VM base install"
Running grub-mkconfig takes 10 minutes... and then fails. (again)

I'm really pissed off with this issue (comes and goes).

@lots0logs : I know you looked into this some time ago, is that mounting problem again?

[2015-05-29 19:52] lots0logs commented on #354
hmm..I will run a quick test and let you know!

[2015-05-29 19:54] karasu commented on #354
Thanks! :sob:

[2015-05-29 20:02] lots0logs commented on #354
Btw, did you see the commit I @ referenced you on an hour ago?

[2015-05-29 20:07] lots0logs commented on #354
So I just did a test in a VM using the latest github master and there was no issue with grub installation :dizzy_face:

[2015-05-29 20:23] karasu commented on #354
Yes! I see that you did nothing but you referenced that commit automatically. Is that it?

mmm.... I think I got this bug again because I'm doing my tests with two harddrives (and I shouldn't be doing that, nobody will install from an HD to another HD). Closing...

[2015-05-29 20:23] #354 closed

[2015-05-29 21:33] Wiebelt opened #355 "It looks like the LVM partition size does not get calculated properly when using LVM, LUKS and a seperate home and root partition on UEFI with a GPT disk."
Hi, i am trying to install Antergos with LVM, LUKS and a seperate root and home partition but it seems a calculation is off for the LVM partition size which makes it fail.

It fails on the following command:
[code]
When i run the command manually from the terminal and change the :+3815191M to :+3815190M the command does work. Gparted also indicates there is only 3815190M space left.

It probably h

[2015-05-29 21:46] Wiebelt commented on #355
When i set the start_part_size to 1 it works :-)

[2015-06-01 00:45] uiokdfsoigk opened #356 "Conflict between python-parted & pyparted"
I booted up a live ISO, and tried to install antergos from it.  I was greeted with an error in the installation, saying I did not have an active network connection and could not continue.  I tried to fix this by running cnchi-dev from the terminal, but was given an error saying cnchi-dev could not be updated as pyparted and python-parted are in conflict
[code]

Upon running pacman -R on pyparted a

[2015-06-01 10:03] karasu commented on #356
This is already fixed in our servers, will be ok when a new iso is issued.

Thanks a lot for reporting it, though.

I'll leave it open as a reminder.

P.S. Are you aware that you have a testing iso in build.antergos.com ?

[2015-06-01 10:27] karasu commented on #355
Thanks for your findings!

[2015-06-01 15:22] #355 closed

[2015-06-01 15:59] karasu commented on #351
Yep, https://github.com/lots0logs/cnchi-dev/commit/1107412afedc056064122de3483d78f0fe0eb792 fixes it!

[2015-06-01 15:59] #351 closed

[2015-06-01 20:39] karasu commented on #345
So we can close this or the issue is still happening? (It must be random because I do not see it here)

[2015-06-01 20:42] karasu commented on #333
Well, closing now. If any of you experience this issue again please warn us here.

Thanks!

[2015-06-01 20:42] #333 closed

[2015-06-02 10:36] lots0logs commented on #345
The window height still increases by about 20px (yeah that's a guesstimate..oh and "guesstimate" is not a real word so don't bother looking it up :laughing: ) ...anyway, I think we can close this for now and revisit later if need be.

[2015-06-02 10:36] #345 closed

[2015-06-02 21:25] karasu commented on #331
https://github.com/lots0logs/cnchi-dev/commit/3f1ded8e654bc2f7f1dcd99f5ac2f3d3bc9f161e Fixes this.

[2015-06-02 21:25] #331 closed

[2015-06-03 07:11] cpatrick08 commented on #265
installed gnome desktop from antergos-minimal-2015.06.03-x86_64.iso, booted into desktop and ran  sudo grub-mkconfig -o /boot/efi/EFI/GRUB/grub.cfg and got same result as mouradxmt. Installed it under UEFI, Grub2 won't find Windows 10

[2015-06-03 09:23] Mikaela commented on #356
When will a new iso be issued? At IRC we are wondering issue #303 which was first reported in 2015-04-21 and it's on the current isos and the installation experience isn't so nice now that people have to use the workaround from #303.

The easiest fix would probably be releasing a new iso as soon as possible.

[2015-06-03 09:39] lots0logs commented on #356
Agreed. :smile:

[2015-06-03 09:39] #356 closed

[2015-06-03 09:44] lots0logs commented on #265
The command should be `sudo grub-mkconfig -o /boot/grub/grub.cfg`. Though your EFI partition should still be mounted at `/boot/efi`.

[2015-06-03 11:36] erikdubois commented on #331
better reopen
still an issue see postings on
http://forum.antergos.com/topic/2280/testing-of-the-antergos-2015-06-03-x86_64-iso-gnome
http://forum.antergos.com/topic/2282/testing-of-the-antergos-2015-06-03-x86_64-iso-base

[2015-06-03 12:35] Mikaela commented on #331
Did you try git version? https://github.com/Antergos/Cnchi/issues/303#issuecomment-94838586

[2015-06-03 12:43] karasu commented on #331
It's fixed in dev version. We'll release it really soon 👍

El dimecres, 3 de juny de 2015, Mikaela Suomalainen <
notifications@github.com> va escriure:

--
Enviat amb el meu Iphone

[2015-06-03 16:09] erikdubois commented on #331
i used the version that is on the iso
which seems to be cnchi 0.8.137

[2015-06-03 16:10] erikdubois commented on #331
I did think I was working with the latest version possible...
how to get the really latest version then?

[2015-06-03 16:21] karasu commented on #331
Hi,

For reasons that no longer apply, we had two source branches in different places. We will put both on them in Github shortly. Meanwhile, you can test the dev version installing the cnchi-dev package, but I'm afraid it's not always up to date.

As a guideline, even versions are "stable" whereas odd versions are development ones (not ready for release). We have 0.8.x as stable and 0.9.x as dev.

[2015-06-03 18:19] #349 closed

[2015-06-03 18:22] Mikaela commented on #349
GitHub doesn't show 34b5b3d as link for some reason, how was this fixed? Does Cnchi automatically detect what interfaces there are and write .network files for them to be DHCP? Or what does it do?

[2015-06-03 18:25] karasu commented on #330
Oh, I know I said I was going to update asap, but I prefer to wait until we have a new release to warn everybody to start translating, because we'll be adding/changing strings while developing... and that would annoy most of the translators, I'm sure! :grin: